@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
  @font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/RobotoSlab-Light/RobotoSlab-Light.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Light/RobotoSlab-Light.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
  @font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
  @font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
   @font-face {
  font-family: "rouble";
  src: url("../fonts/rouble/rouble.eot");
  src: local("☺"), url("../fonts/rouble/rouble.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

