section { font-family: "RobotoSlab-Regular"; }

.about { font-family: "RobotoSlab-Regular"; }
.about__wrap { padding: 70px 0; }
.about__wrap p { padding-bottom: 20px; }

.title-block { font-family: "RobotoSlab-Bold"; font-size: 36px; padding: 0 15px 0 100px; font-weight: 400; }

.descr { font-size: 24px; display: block; padding: 0 100px 75px; padding-bottom: 75px; padding-right: 100px; padding-left: 100px; }

.paper { font-family: "RobotoSlab-Regular"; }
.paper__wrap { margin: 0 -15px; }
.paper__wrap .owl-prev, .paper__wrap .owl-next { color: transparent; width: 40px; height: 40px; border-radius: 50%; border: 1px solid #ebf2f5; background-image: url("../img/left.png"); background-repeat: no-repeat; background-position: center; position: absolute; top: -105px; right: 43px; }
.paper__wrap .owl-next { background-image: url("../img/right.png"); right: 0; }
.paper__inner { padding: 0 15px 70px 15px; outline: none; }
.paper__content { padding: 23px; border: 1px solid #ebf2f5; display: block; }
.paper__content:hover { -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1); }
.paper__title { font-family: "RobotoSlab-Bold"; color: #000; font-size: 16px; font-size: 15px; letter-spacing: -0.5px; background: url(../img/text_underline.png) bottom left repeat-x; }
.paper__title:hover { color: #621212; background: none; }
.paper__img { width: 170px; height: 120px; overflow: hidden; float: left; }
.paper__img img { display: block; width: 100%; height: auto; min-height: 100%; }
.paper__text { float: left; max-width: 320px; padding-left: 20px; }
.paper__text p { padding: 15px 0 5px; }

.galery { overflow: hidden; }
.galery .img-wrap { display: block; float: left; width: 16.66%; overflow: hidden; }
.galery .img-wrap:hover img { transform: scale(1.1); }
.galery .img-wrap img { width: 100%; height: auto; display: block; min-height: 100%; transition: 0.8s all ease; }

.advantages { font-family: "RobotoSlab-Regular"; font-size: 16px; }
.advantages__item { padding-bottom: 30px; float: left; width: 16.66%; }

.advantages p { padding-top: 20px; font-size: 20px; font-family: "RobotoSlab-Bold"; }

.title { font-family: "RobotoSlab-Bold"; font-weight: 400; font-size: 60px; text-align: center; }

.title__descr { display: block; font-size: 28px; text-align: center; margin: 0 auto; max-width: 485px; }

.main-block { height: 515px; padding-top: 120px; background: url(../img/fon1.jpg) center top no-repeat; }

.mini-blocks { margin-bottom: 30px; position: relative; }
.mini-blocks::before { content: ""; width: 57px; height: 63px; position: absolute; bottom: -35px; left: 50%; margin-left: -28px; z-index: 1000; background: url(../img/search.png); }

.mini-block { float: left; width: 25%; display: block; border: 1px solid rgba(255, 255, 255, 0.4); border-bottom: none; position: relative; overflow: hidden; height: 180px; }
.mini-block:first-child { border-left: none; }
.mini-block:last-child { border-right: none; }
.mini-block:hover img { transform: scale(1.2); }
.mini-block img { transition: 0.8s all ease; width: 100%; display: block; height: auto; min-height: 100%; }
.mini-block i { display: block; font-style: normal; position: absolute; top: 75px; left: 40px; }
.mini-block span { font-family: "RobotoSlab-Bold"; font-size: 26px; display: block; padding-bottom: 5px; color: #fff; }
.mini-block b { font-weight: 400; display: block; font-size: 14px; color: #fff; }

@media only screen and (max-width: 1200px) { .paper__img { margin: 0 auto; float: none; }
  .paper__text { padding: 10px 0; float: none; max-width: none; }
  .mini-block { height: 140px; }
  .mini-block i { top: 55px; left: 30px; } }
@media only screen and (max-width: 1000px) { .advantages__item { width: 33.33%; }
  .mini-block { height: 120px; }
  .mini-block i { top: 30px; left: 20px; }
  .mini-block span { font-size: 18px; } }
@media only screen and (max-width: 770px) { .paper__wrap { margin: 0; }
  .descr { padding: 0 100px 75px 0; }
  .title-block { padding: 0 0 8px; }
  .galery .img-wrap { width: 33.33%; }
  .mini-blocks::before { display: none; }
  .mini-block { width: 50%; height: 150px; }
  .mini-block:nth-child(3) { border-left: none; }
  .mini-block:nth-child(2) { border-right: none; } }
@media only screen and (max-width: 550px) { .about__wrap { padding: 20px 0; }
  .about__text { padding: 0; }
  .descr { font-size: 16px; padding: 0 100px 25px 0; }
  .title-block { font-size: 18px; }
  .advantages__item { width: 50%; }
  .advantages p { font-size: 16px; padding-top: 5px; }
  .mini-block { height: 120px; } }
@media only screen and (max-width: 400px) { .advantages__item { width: 100%; text-align: center; } }
