section.contact {
    padding-top: 30px;
}
.contact-title {
    margin-bottom: 25px;
}
.contact-item__block {
    text-align: center;
    margin-bottom: 20px;
}
.contact-block {
    border: 1px solid #ebf2f5;
    padding: 35px 30px 35px 30px;
    text-align: left;
    position: relative;
}
.contact-absolute {
    width: 20px;
    position: absolute;
    right: 10px;
}
.contact__map-icon {
    background: url(/img/adress1.png) 0 0 no-repeat;
    width: 34px;
    height: 40px;
    top: -24px;
}
.contact__phone-icon {
    background: url(/img/adress2.png) 0 0 no-repeat;
    width: 39px;
    height: 40px;
    top: -24px;
}
.contact__metro-icon {
    background: url(/img/adress3.png) 0 0 no-repeat;
    width: 34px;
    height: 40px;
    top: -24px;
}

.contact-title {
    color: black;
    font-family: "RobotoSlab-Bold";
    font-size: 18px;
    font-weight: 700;
}
.contact-address {
    font-weight: 400;
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 8px;
}
.contact-address__span {
    color: #686868;
    font-family: "RobotoSlab-Light";
    font-size: 13px;
    line-height: 20px;
    display: block;
}
.contact-tel__span {
    color: black;
    font-family: "RobotoSlab-Light";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}
.contact-telephone {
    color: black;
    font-family: RobotoSlab-Bold;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 10px;
    &:nth-child(3) {
        margin-bottom: 30px;
    }
}
.contact-email {
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 14px;
    font-weight: 400;
}
.contact-metroaddr {
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}
.contact-metro__span {
    color: #686868;
    font-family: "RobotoSlab-Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
}

/* Application */
section.application {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(/img/zaiavka.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
h2.application-title {
    font-family: "RobotoSlab-Bold";
    font-size: 52px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    margin-bottom: 45px;
}

span.application-title__span {
    font-family: "RobotoSlab-Regular";
    font-size: 25px;
    font-weight: 400;
}
a.apllication-btn {
    display: block;
    width: 275px;
    margin: auto;
}
.apllication-textblock {
    text-align: center;
    margin-top: 60px;
}
.application-toptext {
    color: black;
    font-family: "RobotoSlab-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    max-width: 760px;
    margin: auto;
}
.application-text__span {
    font-size: 14px;
    line-height: 20px;
    }

section.header-top {
    padding-top: 13px;
    padding-bottom: 13px;
    min-height: 50px;
    background: url(/img/headertop.jpg) #560001 0 0 repeat-y;
}
.headertop-spb__phone {
    color: #cebcbc;
    font-family: "RobotoSlab-Regular";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-top: -5px;
    margin-right: 5px;
}
.last-phone {
    margin-right: 0;
}
.headertop-spb__phonespan {
    color: white;
    font-family: "RobotoSlab-Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.headertop-spb {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 38px;
        height: 20px;
        background: url(/img/spb.png) 0 0 no-repeat;
    }
}
.headertop-mobile {
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 38px;
        height: 20px;
        background: url(/img/mob.png) 0 0 no-repeat;
    }
}
.header-topemail {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 48px;
        height: 20px;
        background: url(/img/email.png) 0 0 no-repeat;
        margin-right: 5px;
    }
}
.header-top__logo {
    position: absolute;
    left: 50%;
    margin-left: -83px;
    top: -13px;
}
.header-top__left {
    width: 100%;
}
.header-topemail__link {
    color: #cebcbc;
    font-family: "RobotoSlab-Regular";
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 1px;
    border-bottom: 1px dashed #cebcbc;
    &:hover {
        border-bottom: 0;
    }
}
.header-top-btn {
    margin-right: 0;
    line-height: 28px;
    padding-left: 30px;
    margin-left: 30px;
    margin-top: 20px;
}
.header-logo-wrap {
    width: 100px;
    height: 82px;
    img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        margin-left: -50px;
    }
}
.header-top__center {
    text-align: center;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
    section.contact {
        padding-top: 70px;
    }
    
    section.application {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .contact-item__block {
        margin-bottom: 0px;
    }
    .contact-block {
        height: 282px;
    }
    .header-top__left {
        width: 44%;
        padding-top: 5px;
    }
    .header-logo-wrap {
        width: 0;
        height: 0;
        img {
            margin-left: -83px;
        }
    }
    
    .header-logo-wrap {
        img {
            max-width: unset;
            max-height: unset;
        }
    }
}

@media only screen and (min-width : 1200px) {
    .header-top-btn {
        margin-top: 0;
    }
}

@media only screen and (min-width : 1248px) {
    .contact-item__block1 {
        width: 26%;
    }
    .contact-item__block3 {
        width: 49%;
    }
    .contact-block {
        max-height: 190px;
    }
    .header-top__left {
        width: 44%;
    }
    .header-topemail__btn {
        margin-top: 0;
    }
}

