/* tech.php
========================*/
/* line 4, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_1__wrap {
  text-align: center; }

/* line 7, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-title {
  text-align: center;
  color: black;
  font-family: "RobotoSlab-Bold";
  font-size: 29px;
  font-weight: 700;
  padding: 57px 0px; }

/* line 17, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1 {
  font-family: "RobotoSlab-Regular";
  font-size: 15px;
  display: inline-block;
  box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
  width: 174px;
  height: 40px;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover;
  text-align: center;
  line-height: 39px;
  color: #fff;
  border-radius: 18px; }

/* line 31, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1:hover {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 35, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1:active {
  background: url(../img/b1.png) no-repeat center;
  background-size: cover;
  color: #D0A6A6 !important; }

/* line 40, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 44, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1__color {
  color: #D0A6A6 !important; }

/* line 47, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1__color:hover {
  color: #fff !important; }

/* line 52, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_2__wrap {
  text-align: center;
  padding: 47px 0px; }

/* line 56, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2 {
  display: inline-block;
  border: 1px solid #dde6eb;
  font-size: 13px;
  font-family: "RobotoSlab-Regular";
  color: #99A8B0;
  border-radius: 18px;
  height: 36px;
  width: 124px;
  text-align: center;
  line-height: 30px;
  position: relative; }

/* line 69, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 26px;
  background: url(../img/str.jpg) no-repeat center;
  right: -9px;
  top: 4px; }

/* line 78, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2__mright {
  margin-right: 40px; }

/* line 81, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:hover {
  border: 1px solid #84b546;
  color: black; }

/* line 85, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:active {
  border: 1px solid black;
  color: black; }

/* line 89, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:active:after {
  background: url(../img/bstr.jpg) no-repeat center; }

/* line 92, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons_2 {
  border: 1px solid #84b546;
  color: black; }

/* line 96, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons_3 {
  border: 1px solid black;
  color: black; }

/* line 100, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons_3:after {
  background: url(../img/bstr.jpg) no-repeat center; }

/* line 105, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_3__wrap {
  text-align: center; }

/* line 108, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3 {
  text-align: center;
  display: inline-block;
  font-family: "RobotoSlab-Regular";
  font-size: 17px;
  color: #fff;
  padding: 16px 64px;
  box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
  border-radius: 30px;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover; }

/* line 120, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3:hover {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 124, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3:active {
  color: #D0A6A6;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover; }

/* line 129, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3_active {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 133, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3_color {
  color: #D0A6A6; }

/* line 138, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_4__wrap {
  background: #570203;
  width: 100%;
  padding: 14px 0px;
  text-align: center;
  margin: 50px 0px; }

/* line 145, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4 {
  display: inline-block;
  color: #fff;
  font-family: "RobotoSlab-Regular";
  font-size: 12px;
  border: 1px solid #8E6063;
  width: 161px;
  height: 32px;
  border-radius: 18px;
  line-height: 25px;
  padding-left: 11px;
  position: relative; }

/* line 158, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:after {
  content: "";
  position: absolute;
  background: url(../img/t.png) no-repeat center;
  width: 13px;
  height: 14px;
  left: 11px;
  top: 7px; }

/* line 167, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:hover {
  border: 1px solid #FAA55D;
  color: #FAA55D; }

/* line 171, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:hover:after {
  background: url(../img/t2.png) no-repeat center; }

/* line 174, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:active {
  background: #4A0203;
  border: 1px solid #8E6063;
  color: #fff; }

/* line 179, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:active:after {
  background: url(../img/t.png) no-repeat center; }

/* line 182, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4_active {
  border: 1px solid #FAA55D;
  color: #FAA55D; }

/* line 186, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4_active:after {
  background: url(../img/t2.png) no-repeat center; }

/* line 189, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4_color {
  background: #4A0203; }

/*# sourceMappingURL=style-dd.css.map */