.clear{
	clear: both;
}

/*==============new===============*/

.dfcontainer{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding:0 10px;
	.title-block,.descr{
		padding-left: 30px;
	}
	.descr{
		padding-bottom: 22px;
		font-family: "RobotoSlab-Regular";
	}
}
.descr{	
	font-family: "RobotoSlab-Regular";
}
.df-newblock{
	text-align: center;
}

.df-newbox{
	max-width: 275px;
	width: 100%;
	display: inline-block;
	text-align: left;
	padding: 22px 22px 30px 22px;
	border: 1px solid #ebf2f5;
	margin-bottom: 20px;

}

.dfnewimg{
	position: relative;
	img{
		width: 100%;
		height: auto;
		display: inline-block;
	}
}
.dfsquere{
	color: white;
	font-family: "RobotoSlab-Bold";
	font-size: 16px;
	position: absolute;
	bottom: -25px;
	right: 11px;
	display: inline-block;
	padding: 9px 20px 20px 20px;
	background-image: url("../img/pricedf.png");
	background-position: center;
	background-repeat: no-repeat;
}
.dfnewtxtbox{
	padding-top: 30px;
	padding-left: 6px;
}
.df-proect{
	color: black;
	font-family: "RobotoSlab-Regular";
	font-size: 18px;
	display: inline-block;
	margin-bottom: 15px;
	border-bottom: 1px dashed #abbac2;
	transition:0.3s;
}
.df-proect:hover{
	border-bottom: 1px dashed transparent;
	color: #621212;
}

.dfprice{
	color: black;
	font-size: 22px;
	font-family: "RobotoSlab-Bold";
	display: block;
	margin-bottom: 12px;
	span{
		font-family: "rouble" !important;
	}
	
}
.dfcharacteristicts{
	span:first-child{
		font-family: "RobotoSlab-Light";
		font-size: 12px;
		line-height: 22px;
		color: #99a8b0;
		display: inline-block;
		min-width: 115px;
	}
	span:last-child{
		color: black;
		font-family: "RobotoSlab-Bold";
		display: inline-block;
		line-height: 22px;
		font-size: 12px;
	}
}
.dfbutton-1{
	margin-top: 20px;
}
.button_1:hover, .button_2:hover, .button_3:hover, .button_4:hover{
	transition:0.3s;
}
//items left & right
.df-left, .df-right{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #ebf2f5;
	background-image: url("../img/left.png");
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top:-105px;
	right: 43px;
	transition:0.3s;
}
.df-right{
	background-image: url("../img/right.png");
	right: 0;
}

.df-left:hover, .df-right:hover{
	border: 1px solid #87b74a;
}

/*=====================filter ===============*/
.dfcenter{
	text-align: center;
	padding: 0 20px;
}
.dffilterbox{
	max-width: 287px;
	width: 100%;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 20px;
}
.dfcap{
	font-size: 13px;
	color: #909ba2;
	font-family: "RobotoSlab-Regular";
	display: block;
	margin-bottom: 12px;	
	text-align: center;
	span{
		font-family: "rouble" !important;
	}
}
select:focus, select:active{
	outline: none;
}
.az-select{    
	position: relative;
	cursor: pointer;
	text-align: left;
	max-width: 140px;
	width: 100%;
	font-family: "RobotoSlab-Bold";
	display: inline-block;
	margin-bottom: 10px;
	select{    
		-webkit-appearance: none;
		-moz-appearance: none;
		padding: 9px 0 9px 17px;
		max-width: 140px;		
		width: 100%;
		background-color: #fff;		
		border-radius: 30px;		
		border: 1px solid #ebf2f5;
		box-shadow: inset 2.5px 4.3px 5px rgba(225, 234, 240, 0.35);	
	}
	select::-ms-expand {
		display: none;
	}
	.az-options{
		display: none;
		top: calc(100% + 0px);
		left: -2px;
		width: calc(100% + 4px);
		position: absolute;
		background-color: #fff;
		border: 1px solid #ebf2f5;
		border-radius: 5px;
		z-index: 7;
		color: rgba(#141414, 0.7);

	}
	div[data-val]{    
		padding-left:20px;
		line-height: 35px;
		letter-spacing: 0.02em;
		cursor: pointer;
	}
	div[data-val]:hover{		
		background-color: rgba(#909ba2,0.4);   
	}
}
.az-select:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 12px;
    width: 13px;
    height: 8px;
    background-image: url("../img/menuarrow.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.dfrightradius{
	margin-left: -5px;
	select{    				
		border-radius: 30px;
	}
}
.dffilterboxone{
	width: 180px;
	max-width: 100%;
	margin-right: 21px;
	.az-select{
		max-width: 180px;
	}
	select{    		
		border-radius:30px;	
		width: 180px;
		max-width: 100%;
	}
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.az-select{   		
		margin-bottom: 0px;
		select{    			
			border-radius: 30px 0 0 30px;			
		}
	}
	.dfrightradius{		
		select{    		
			border-radius: 0 30px 30px 0;			
		}
	}
	.dffilterboxone{		
		margin-right: 21px;
		.az-select{		
		select{    		
			border-radius:30px;	
			width: 180px;
			max-width: 100%;
			}
		}	
	}
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.dfcontainer{
		padding:0px;
		.title-block, .descr{
			padding-left: 140px !important;
		}
		.title-block{
			padding-top: 40px;
		}
		.descr{
			padding-bottom: 62px;
		}
	}	
	.df-newbox{		
		margin-right: 24px;
		margin-bottom: 0;
	}
	.df-newblock .df-newbox:last-child{
		margin-right: 0;
	}
	
	/*=============filter*/

	.dffilterbox{		
		margin-bottom: 0px;
	}
	.az-select{   		
		margin-bottom: 0px;		
	}	
	.dfcap{		
		margin-left:21px ;
		text-align: left;		
	}

}

@media only screen and (min-width : 1248px) {
}
