
/* tech.php
========================*/
.button_1{
	display: inline-block;
	box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
	width: 174px;
	height: 40px;
	background: url(../img/b1.png) no-repeat center;
}










@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

