html, body, div, span, applet, object, iframe,
h1,h2,h4,h5,h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }
  

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff") format("woff"),
  url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf") format("truetype"),
  url("../fonts/RobotoSlab-Bold/RobotoSlab-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
  @font-face {
  font-family: "RobotoSlab-Light";
  src: url("../fonts/RobotoSlab-Light/RobotoSlab-Light.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Light/RobotoSlab-Light.woff") format("woff"),
  url("../fonts/RobotoSlab-Light/RobotoSlab-Light.ttf") format("truetype"), 
  url("../fonts/RobotoSlab-Light/RobotoSlab-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
  @font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.woff") format("woff"), 
  url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.ttf") format("truetype"), 
  url("../fonts/RobotoSlab-Regular/RobotoSlab-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
  @font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.eot");
  src: local("☺"), url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.woff") format("woff"), 
  url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.ttf") format("truetype"), 
  url("../fonts/RobotoSlab-Thin/RobotoSlab-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
   @font-face {
  font-family: "rouble";
  src: url("../fonts/rouble/rouble.eot");
  src: local("☺"), url("../fonts/rouble/rouble.woff") format("woff"), 
  url("../fonts/rouble/rouble.ttf") format("truetype"), 
  url("../fonts/rouble/rouble.svg") format("svg");
  font-weight: normal;
  font-style: normal; }



.mask{
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 999;
    display:none;
    padding-right: 20px;
}
#js-form1{
    z-index: 1000;
    position: fixed;
    top:15%;
    left:0;
    background: #fff;
    padding: 47px;
    text-align: center;
    font-family: "RobotoSlab-Regular";
    p{
        font-size: 24px;
        color:black;
        margin-bottom: 29px;
    }
    input[type="text"]{
        outline: none;
        box-shadow: inset 2.5px 4.3px 5px rgba(225, 234, 240, 0.35);
        border: 1px solid #ebf2f5;
        border-radius: 30px;
        padding: 13px 10px 13px 30px;
        width: 290px;
        margin-bottom: 21px;
        color: #909ba2;
        font-size: 14px;
        font-family: "RobotoSlab-Regular";
    }
    display: none;
}
#js-form3{
    h1{
        margin-bottom: 20px;
    }
    z-index: 1000;
    position: fixed;
    top:15%;
    left:0;
    background: #fff;
    padding: 47px;
    text-align: center;
    font-family: "RobotoSlab-Regular";
    p{
        font-size: 24px;
        color:black;
        margin-bottom: 29px;
    }
    input[type="text"]{
        outline: none;
        box-shadow: inset 2.5px 4.3px 5px rgba(225, 234, 240, 0.35);
        border: 1px solid #ebf2f5;
        border-radius: 30px;
        padding: 13px 10px 13px 30px;
        width: 290px;
        margin-bottom: 21px;
        color: #909ba2;
        font-size: 14px;
        font-family: "RobotoSlab-Regular";
    }
    display: none;
}
#js-form2{
    z-index: 1000;
    position: fixed;
    top:15%;
    left:0;
    background: #fff;
    padding: 47px;
    text-align: center;
    font-family: "RobotoSlab-Regular";
    display: none;
    p{
        font-size: 24px;
        color:black;
        margin-top: 20px;
    }
}
.db-close{
    position: absolute;
    top:-35px;
    right: -50px;
    cursor:pointer;
}
.db-button_3{
    border: none;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin-top: 18px;
}

input[type="text"]::-webkit-input-placeholder { color: #909ba2; }    
input[type="text"]::-moz-input-placeholder { color: #909ba2; }


.section_db-footer-view{
    background: #000;
    color:#fff;
    font-family: "RobotoSlab-Regular";
    a{
        color:#fff;
        border-bottom: 1px dashed #818181; 
        font-size: 15px;
        font-family: "RobotoSlab-Regular";
    }
    a:hover{
        border-bottom: none; 
        color: #c5b4b4;
    }
}
.db-up{
    max-width: 320px;
    width: 100%;
    margin:0 auto;
    text-align: center;
}
.db-down{
    max-width: 320px;
    width: 100%;
    margin:0 auto;
    margin-top: 20px;
    text-align: center;
}
.db-footer-ul{
    padding-bottom: 20px;
    li{
        padding-bottom: 10px;
    }
    
}
.db-p-one{
    color: #acacac;
    font-size: 13px;
}
.db-city{
    background: url("../img/bg-email2.png") no-repeat top left 13px;
    font-size: 10px;
    color: #cebcbc;
    padding: 3px 14px 41px 19px;
}
.db-city2{
    background: url("../img/bg-email.png") no-repeat top left 13px !important;
    font-size: 10px;
    color: #cebcbc;
    padding: 3px 14px 41px 19px;
}
.db-p-two{
    color: #cebcbc;
    font-size: 12px;

}

.db-p-p2{
    padding-top: 5px;
}

.db-number{
    font-size: 16px;
    color: white;
    font-family: "RobotoSlab-Bold";
}
.db-span-out{
    display: inline-block;
    margin-left: 57px;
}
.db-p-p{
    padding-top: 5px;
    a{
        color: #cebcbc;
    font-size: 12px;
    border-bottom: none !important;
    }

}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
    .db-up{
        max-width: unset;
        text-align: left;
    }
    .db-down{
        max-width: unset;
        text-align: left;
        margin-top: 0;
    }
    .db-footer-ul{
        padding-bottom: 35px;
        li{
            display: inline-block;
            padding-left: 10px;

        }
        li:first-child{
            padding-left: 0px ;
        }

    }
}

@media only screen and (min-width : 1248px) {
    .section_db-footer-view{
        padding: 40px 0 !important;
    }

    .db-footer-ul{

        li{

            padding-left: 23px;

        }
    }
    .db-p-two-float{
        float:left;
    }
    .db-p-p{
        padding-top: 4px;
        padding-left: 32px;
    }   
    .db-p-p2{
        padding-top: 18px;
    }
}




/* tech.php
========================*/
.dd-button_1__wrap{
    text-align:center;
}
.dd-title{
    
    color: black;
    font-family: "RobotoSlab-Bold";
    font-size: 29px;
    font-weight: 700;
    
}
.dop{
    padding: 57px 0px;
    text-align:center;
}
//Button_1
.button_1{
    font-family: "RobotoSlab-Regular";
    font-size:15px;
    display: inline-block;
    box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
    width: 174px;
    height: 40px;
    background: url(../img/b1.png) no-repeat center;
    background-size:cover;
    text-align:center;
    line-height:39px; 
    color:#fff;
    border-radius:18px;
}
.button_1:hover{
    background: url(../img/b2.jpg) no-repeat center;
    background-size:cover;
}
.button_1:active{
    background: url(../img/b1.png) no-repeat center;
    background-size:cover;
    color:#D0A6A6 !important;
}
.active_buttons{
    background: url(../img/b2.jpg) no-repeat center;
    background-size:cover;
}
.button_1__color{
    color:#D0A6A6 !important;
}
.button_1__color:hover{
    color:#fff !important;
}

//Button_2
.dd-button_2__wrap{
    text-align:center;
    padding: 47px 0px;
}
.button_2{
    display:inline-block;
    border: 1px solid #dde6eb;
    font-size:13px;
    font-family: "RobotoSlab-Regular";
    color:#99A8B0;
    border-radius:18px;
    height: 36px;
    width: 124px;
    text-align:center;
    line-height:30px;
    position: relative;
}
.button_2:after{
    content:"";
    position:absolute;
    width: 20px;
    height: 26px;
    background: url(../img/str.jpg) no-repeat center;
    right:-9px;
    top:4px;
}
.button_2__mright{
    margin-right: 40px;
}
.button_2:hover{
    border: 1px solid #84b546;
    color:black;
}
.button_2:active{
    border: 1px solid black;
    color:black;
}
.button_2:active:after{
    background: url(../img/bstr.jpg) no-repeat center;
}
.active_buttons_2{
    border: 1px solid #84b546;
    color:black;
}
.active_buttons_3{
    border: 1px solid black;
    color:black;
}
.active_buttons_3:after{
    background: url(../img/bstr.jpg) no-repeat center;
}

// button_3
.dd-button_3__wrap{
    text-align:center;
}
.button_3{
    text-align:center;
    display:inline-block;
    font-family: "RobotoSlab-Regular";
    font-size:17px;
    color:#fff;
    padding: 16px 64px;
    box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
    border-radius:30px;
    background: url(../img/b1.png) no-repeat center;
    background-size:cover;
}
.button_3:hover{
    background: url(../img/b2.jpg) no-repeat center;
    background-size:cover;
}
.button_3:active{
    color:#D0A6A6;
    background: url(../img/b1.png) no-repeat center;
    background-size:cover;
}
.button_3_active{
    background: url(../img/b2.jpg) no-repeat center;
    background-size:cover;
}
.button_3_color{
    color:#D0A6A6;
}

//Button_3
.dd-button_4__wrap{
    background: #570203;
    width: 100%;
    padding: 14px 0px;
    text-align:center;
    margin: 50px 0px;
}
.button_4{
    display:inline-block;
    color:#fff;
    font-family: "RobotoSlab-Regular";
    font-size:12px;
    border: 1px solid #8E6063;
    width: 161px;
    height: 32px;
    border-radius:18px;
    line-height:25px;
    padding-left: 11px;
    position:relative;
}
.button_4:after{
    content:"";
    position:absolute;
    background: url(../img/t.png) no-repeat center;
    width: 13px;
    height: 14px;
    left:11px;
    top:7px;
}
.button_4:hover{
    border:1px solid #FAA55D;
    color:#FAA55D;
}
.button_4:hover:after{
    background: url(../img/t2.png) no-repeat center;
}
.button_4:active{
    background: #4A0203;
    border: 1px solid #8E6063;
    color:#fff;
}
.button_4:active:after{
    background: url(../img/t.png) no-repeat center;
}
.button_4_active{
    border:1px solid #FAA55D;
    color:#FAA55D;
}
.button_4_active:after{
    background: url(../img/t2.png) no-repeat center;
}
.button_4_color{
    background: #4A0203;
}

/* Видео нашей работы
================================*/
.dd-side-title{
    span{
        font-size: 36px;
        font-family: "RobotoSlab-Bold";
        
    }
    p{
        font-size: 24px;
        font-family: "RobotoSlab-Regular";
        margin-bottom: 52px;
    }
}
.dd-sl-r-title{
    p{
        font-size: 24px;
        font-family: "RobotoSlab-Regular";
    }
}
.dd-slide-box_right{
    padding-top: 25px;
    span{
        display: inline-block;
        color: black;
        font-family: "RobotoSlab-Bold";
        font-size: 36px;
        
    }
}

.dd-slide-but{
    width: 136px;
    vertical-align:bottom;
    margin-top: 20px;
}
.dd-inline{
    display:inline-block;
}
.dd-slide-video-link{
    padding-left: 36px;
    span{
        display: inline-block;
        border-bottom:1px dashed #ABBAC2;
        font-size: 18px;
    }
}
.dd-slide-but{
    margin-left: 116px;
}
.dd-sl-r-title{
    text-align:left;
    padding-bottom: 66px;
}
.dd-text{
    margin-bottom: 46px;    
    border-left:1px solid #EBF2F5;
    span:first-child{
        line-height: 22px;
        color: black;
        font-family: "RobotoSlab-Bold";
        font-size: 16px;
    }
    .dd-date{
        color: #979797;
        font-family: "RobotoSlab-Regular";
        font-size: 13px;
        display: inline-block;
        margin-left: 10px;
    }
    p{
        color: black;
        font-family: "RobotoSlab-Regular";
        font-size: 14px;
        line-height: 22px;
        padding-top: 25px;
        a{
            border-bottom:1px dashed #6E2626;
            color:#6E2626;
        }
    }
}
#dd-owl{
    .df-left, .df-right{
        top:20px !important;
    } 
}

/* Menu-bottom
=============================*/
.dd-menu-bottom-wrap{
    background: #000000;
    // padding: 25px 0px;
    display:none;
}
.dd-menu-left{
    li{
        display: inline-block;
        // margin-right: 44px;
        margin-right: 15px;
        padding: 25px 0px;
    }
    a{
        display: inline-block;
        position:relative;
        color:#fff;
        font-family: "RobotoSlab-Regular";
        font-size: 15px;
        border-bottom:1px dashed #818181;
    }
    a:after{
        content: "";
        position:absolute;
        width: 8px;
        height: 3px;
        background: url(../img/s.png) no-repeat;
        right:-18px;
        top:10px;
    }
}
.dd-menu-right{
    li{
        display: inline-block;
        margin-right: 0px;
    }
    .ml-left{
        // margin-left: 111px;
        margin-left: 79px;
    }
    .margin-li{
        // margin-left: 31px;
        margin-left: 9px;
        a:after{
            display: none;
        }
    }
}

.dd-sub-menu{
    padding-top: 24px;
    padding-bottom: 22px;
    width: 173px;
    background: #fff;
    top: 72px;
    // top:183px;
    left:0;
    position:absolute;
    z-index:999;
    display:none;
    li{
        padding: 0;
        margin-right: 0 !important;
        display: block;
        position: relative;
    }
    a{
        padding: 10px 0px 10px 24px;
        color:#000000;
        display: block;
        border:none;
    }
    .dd-sum_item{
        background-image: url("../img/s2.png");
        background-repeat:no-repeat; 
        background-position: right 15px center; 
    }
    .dd-sum_item:hover{
        background-image: url("../img/s3.png");
        background-repeat:no-repeat; 
        background-position: right 15px center; 
    }
    a:after{
        display: none;
    }
    a:hover{
        background: #641617;
        color:#fff;
    }
}
.dd-sub-menu_next_1{
    left:156px;
}
.dd-sub-menu_next_2{
    left:334px;
}
.dd-sub-menu4{
    left:94px;
}
.dd-li-wrap{
    position:relative;
}
.dd-li-wrap:after{
    content:"";
    position:absolute;
    background: url(../img/tre.png);
    width: 24px;
    height: 28px;
    top:-34px;
    left:70px;
}
.dd-sub-menu-2, .dd-sub-menu-3{
    position:absolute;
    padding-top: 25px;
    padding-bottom: 21px;
    width: 171px;
    top:0;
    right:-173px;
    background: #fff;
    z-index:999;
    right:-171px;
    top:0;
    background: #fff;
    z-index:999;    
}
.dd-relative{
    position:relative;
}

/* Мобильное меню
===========================*/
.mobile-menu{
    background: black;
    width: 100%;
    padding: 25px 0px;
    display:none;
}
.mobile-menu_elements{
    text-align:center;
    li{
        padding: 0;
        display: block;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .after_none{
        a:after{
            display: none !important;
        }
    }
}
.dd-sub{
    // outline:1px solid yellow;
    // background: #444444;
    display:none;
    padding: 10px 0px;
    li{
        a{
            color:orange;
        }
    }
}
.dd-sub__inner{
    li{
        a{
            color:yellow;
        }
    }
}
.burger{
    position:absolute;
    right:15px;
    top:15px;
    cursor:pointer;
    z-index: 90;
}






@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {
    .dd-slide-video-link{
        span{
            font-size: 19px;
        }
    }
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
    .burger{
        display: none;
    }
    .dd-menu-bottom-wrap{
        display: block;
    }
    .dd-text{
        padding-left: 24px;
    }
    .dd-slide-box_right{
        padding-top:0px;
    }
    .dd-sl-r-title, .dd-title-wr{
        padding-left: 75px;
    }
}

@media only screen and (min-width : 1248px) {
    .dd-menu-left{
        li{
            margin-right: 44px;
        }
    }
    .dd-menu-right{
        li{
            margin-right: 0;
        }
        .margin-li{
            margin-left: 31px;

        }
        .ml-left{
            margin-left: 111px;
        }
    }
}


section{
    font-family: "RobotoSlab-Regular";
}
.about{
    font-family: "RobotoSlab-Regular";
    &__wrap{
        padding: 70px 0;
        p{
            padding-bottom: 20px;
        }
    }
}
.title-block{
    font-family: "RobotoSlab-Bold";
    font-size: 36px;
    padding: 0 15px 0 100px;
    font-weight: 400;
}
.descr{
    font-size: 24px;
    display: block;
    padding: 0 100px 75px;
    padding-bottom: 75px;
    padding-right: 100px;
    padding-left: 100px;
}
.paper{
    font-family: "RobotoSlab-Regular";
    &__wrap{
        margin: 0 -15px;
        .owl-prev, .owl-next{
            color: transparent;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #ebf2f5;
            background-image: url("../img/left.png");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top:-105px;
            right: 43px;
        }
        .owl-next{
            background-image: url("../img/right.png");
            right: 0;
        }
    }
    &__inner{
        padding: 0 15px 70px 15px;
        outline: none;
    }
    &__content{
        padding: 23px;
        border: 1px solid #ebf2f5;
        display: block;
        &:hover{
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
        }
    }
    &__title{
        font-family: "RobotoSlab-Bold";
        color: #000;
        font-size: 16px;
        font-size: 15px;
        letter-spacing: -0.5px;        
        border-bottom: 1px dashed #abbac2;
        &:hover{
            color: #621212;
            background: none;
            border-bottom: 1px dashed transparent;
        }
    }
    &__img{
        width: 170px;
        height: 120px;
        overflow: hidden;
        float: left;
        img{
            display: block;
            width: 100%;
            height: auto;
            min-height: 100%;
        }
    }
    &__text{
        float: left;
        max-width: 320px;
        padding-left: 20px;
        p{
            padding: 15px 0 5px;
        }
    }
}
.galery{
    overflow: hidden;
    .img-wrap{
        display: block;
        float: left;
        width: 16.66%;
        overflow: hidden;
        &:hover img{
            transform: scale(1.1);
        }
        img{
            width: 100%;
            height: auto;
            display: block;
            min-height: 100%;
            transition: 0.8s all ease;
        }
    }
}
.our{
    padding: 135px 0 50px;
    background: #f8fafb;
    margin-top: -110px;
}
.advantages{
    font-family: "RobotoSlab-Regular";
    font-size: 16px;
    &__item{
        padding-bottom: 30px;
        float: left;
        width: 16.66%;
    }
}
.advantages p{
    padding-top: 20px;
    font-size: 20px;
    font-family: "RobotoSlab-Bold";
}
.title{
    font-family: "RobotoSlab-Bold";
    font-weight: 400;
    font-size: 60px;
    text-align: center;
}
.title__descr{
    display: block;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    max-width: 485px;
}
.main-block{
    height: 515px;
    padding-top: 120px;
    background: url(../img/fon1.jpg) center top no-repeat;
}
.mini-blocks{
    margin-bottom: 30px;
    position: relative;
    &::before{
        content: "";
        width: 57px;
        height: 63px;
        position: absolute;
        bottom: -35px;
        left: 50%;
        margin-left: -28px;
        z-index: 1000;
        background: url(../img/search.png);
    }
}
.mini-block{
    float: left;
    width: 25%;
    display: block;
    border: 1px solid rgba(255,255,255,0.4);
    border-bottom: none;
    position: relative;
    overflow: hidden;
    height: 180px;
    &:first-child{
        border-left: none;
    }
    &:last-child{
        border-right: none;
    }
    &:hover img{
        transform: scale(1.2);
    }
    img{
        transition: 0.8s all ease;
        width: 100%;
        display: block;
        height: auto;
        min-height: 100%;
    }
    i{
        display: block;
        font-style: normal;
        position: absolute;
        top: 50px;
        left: 40px;
    }
    span{
        font-family: "RobotoSlab-Bold";
        font-size: 40px;
        display: block;
        color: #fff;
        line-height: 1;
        padding-bottom: 7px;
    }
    .back{
        top: 70px;
        span{
            font-size: 26px;
            color: rgba(255,255,255,0.6);
            padding-bottom: 0;
            letter-spacing: 0.5px;
        }
    }
    b{
        font-weight: 400;
        display: block;
        font-size: 14px;
        color: rgba(255,255,255,0.6);
    }
}
.dfpadding{
    padding-top: 60px;
}
@media only screen and (max-width : 1200px) {
    .paper{
        &__img{
            margin: 0 auto;
            float: none;
        }
        &__text{
            padding: 10px 0;
            float: none;
            max-width: none;
        }
    }
    .mini-block{
        height: 140px;
        i{
            top: 35px;
            left: 30px;
            span{
                font-size: 26px;
            }
        }
        .back{
            top: 55px;
            span{
                font-size: 22px;
            }
        }
    }

}
@media only screen and (max-width : 1000px) {
    .advantages__item{
        width: 33.33%;
    }
    .mini-block{
        height: 120px;
        i{
            top: 30px;
            left: 20px;
            span{
                font-size: 18px;
            }
        }
        .back{
            top: 38px;
            span{
                font-size: 16px;
            }
        }
    }
    .dfpadding{
        padding-top: 10px;
    }
}
@media only screen and (max-width : 770px) {
    .paper__wrap{
        margin: 0;
    }
    .descr{
        padding: 0 100px 75px 0;
    }
    .title-block{
        padding: 0 0 8px;
    }
    .galery{
        .img-wrap{
            width: 33.33%;
        }
    }
    .mini-blocks::before{
        display: none;
    }
    .mini-block{
        width: 50%;
        height: 150px;
        &:nth-child(3){
            border-left: none;
        }
        &:nth-child(2){
            border-right: none;
        }
        i{
            top: 40px;
            left: 30px;
            span{
                font-size: 22px;
            }
        }
        .back{
            top: 48px;
            span{
                font-size: 18px;
            }
        }
    }
}
@media only screen and (max-width : 550px) {
    .about__wrap{
        padding: 20px 0;
    }
    .about__text{
        padding: 0;
    }
    .descr{
        font-size: 16px;
        padding: 0 100px 25px 0;
    }
    .title-block{
        font-size: 18px;
    }
    .advantages__item{
        width: 50%;
    }
    .advantages p{
        font-size: 16px;
        padding-top: 5px;
    }
    .mini-block{
        height: 120px;
    }
}
@media only screen and (max-width : 400px) {
    .our{
        margin-top: 0;
        padding-top: 40px;
    }
    .advantages__item{
        width: 100%;
        text-align: center;
    }
    .mini-block{
        i{
            top: 30px;
            left: 20px;
            span{
                font-size: 18px;
            }
        }
        .back{
            top: 38px;
            span{
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}


.clear{
    clear: both;
}

/*==============new===============*/

.dfcontainer{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding:0 10px;
    .title-block,.descr{
        padding-left: 30px;
    }
    .descr{
        padding-bottom: 22px;
        font-family: "RobotoSlab-Regular";
    }
}
.descr{ 
    font-family: "RobotoSlab-Regular";
}
.df-newblock{
    text-align: center;
}

.df-newbox{
    max-width: 275px;
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 22px 22px 30px 22px;
    border: 1px solid #ebf2f5;
    margin-bottom: 20px;
    background-color: #fff;
}

.dfnewimg{
    position: relative;
    img{
        width: 100%;
        height: auto;
        display: inline-block;
    }
}
.dfsquere{
    color: white;
    font-family: "RobotoSlab-Bold";
    font-size: 16px;
    position: absolute;
    bottom: -25px;
    right: 11px;
    display: inline-block;
    padding: 9px 20px 20px 20px;
    background-image: url("../img/pricedf.png");
    background-position: center;
    background-repeat: no-repeat;
}
.dfnewtxtbox{
    padding-top: 30px;
    padding-left: 6px;
}
.df-proect{
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 18px;
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 1px dashed #abbac2;
    transition:0.3s;
}
.df-proect:hover{
    border-bottom: 1px dashed transparent;
    color: #621212;
}

.dfprice{
    color: black;
    font-size: 22px;
    font-family: "RobotoSlab-Bold";
    display: block;
    margin-bottom: 12px;
    span{
        font-family: "rouble" !important;
    }
    
}
.dfcharacteristicts{
    span:first-child{
        font-family: "RobotoSlab-Light";
        font-size: 12px;
        line-height: 22px;
        color: #99a8b0;
        display: inline-block;
        min-width: 115px;
    }
    span:last-child{
        color: black;
        font-family: "RobotoSlab-Bold";
        display: inline-block;
        line-height: 22px;
        font-size: 12px;
    }
}
.dfbutton-1{
    margin-top: 20px;
}
.button_1:hover, .button_2:hover, .button_3:hover, .button_4:hover{
    transition:0.3s;
}
//items left & right
.df-left, .df-right{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ebf2f5;
    background-image: url("../img/left.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:-105px;
    right: 43px;
    transition:0.3s;
}
.df-right{
    background-image: url("../img/right.png");
    right: 0;
}

.df-left:hover, .df-right:hover{
    border: 1px solid #87b74a;
}

/*=====================filter ===============*/
.dfcenter{
    text-align: center;
    padding: 0 20px;
}
.dffilterbox{
    max-width: 287px;
    width: 100%;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
}
.dfcap{
    font-size: 13px;
    color: #909ba2;
    font-family: "RobotoSlab-Regular";
    display: block;
    margin-bottom: 12px;    
    text-align: center;
    span{
        font-family: "rouble" !important;
    }
}
select:focus, select:active{
    outline: none;
}
.az-select{    
    position: relative;
    cursor: pointer;
    text-align: left;
    max-width: 140px;
    width: 100%;
    font-family: "RobotoSlab-Bold";
    display: inline-block;
    margin-bottom: 10px;
    select{    
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 9px 0 9px 17px;
        max-width: 140px;       
        width: 100%;
        background-color: #fff;     
        border-radius: 30px;        
        border: 1px solid #ebf2f5;
        box-shadow: inset 2.5px 4.3px 5px rgba(225, 234, 240, 0.35);    
    }
    select::-ms-expand {
        display: none;
    }
    .az-options{
        display: none;
        top: calc(100% + 0px);
        left: -2px;
        width: calc(100% + 4px);
        position: absolute;
        background-color: #fff;
        border: 1px solid #ebf2f5;
        border-radius: 5px;
        z-index: 7;
        color: rgba(#141414, 0.7);

    }
    div[data-val]{    
        padding-left:20px;
        line-height: 35px;
        letter-spacing: 0.02em;
        cursor: pointer;
    }
    div[data-val]:hover{        
        background-color: rgba(#909ba2,0.4);   
    }
}
.az-select:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 12px;
    width: 13px;
    height: 8px;
    background-image: url("../img/menuarrow.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.dfrightradius{
    margin-left: -5px;
    select{                 
        border-radius: 30px;
    }
}
.dffilterboxone{
    width: 180px;
    max-width: 100%;
    margin-right: 21px;
    .az-select{
        max-width: 180px;
    }
    select{         
        border-radius:30px; 
        width: 180px;
        max-width: 100%;
    }
}





@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
    .az-select{         
        margin-bottom: 0px;
        select{             
            border-radius: 30px 0 0 30px;           
        }
    }
    .dfrightradius{     
        select{         
            border-radius: 0 30px 30px 0;           
        }
    }
    .dffilterboxone{        
        margin-right: 21px;
        .az-select{     
        select{         
            border-radius:30px; 
            width: 180px;
            max-width: 100%;
            }
        }   
    }
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
    .dfcontainer{
        padding:0px;
        .title-block, .descr{
            padding-left: 140px !important;
        }
        .title-block{
            padding-top: 40px;
        }
        .descr{
            padding-bottom: 62px;
        }
    }   
    .df-newbox{     
        margin-right: 24px;
        margin-bottom: 0;
    }
    .df-newblock .df-newbox:last-child{
        margin-right: 0;
    }
    
    /*=============filter*/

    .dffilterbox{       
        margin-bottom: 0px;
    }
    .az-select{         
        margin-bottom: 0px;     
    }   
    .dfcap{     
        margin-left:21px ;
        text-align: left;       
    }

}

@media only screen and (min-width : 1248px) {
}

section.contact {
    padding-top: 30px;
}
.contact-title {
    margin-bottom: 25px;
}
.contact-item__block {
    text-align: center;
    margin-bottom: 20px;
}
.contact-block {
    border: 1px solid #ebf2f5;
    padding: 35px 30px 35px 30px;
    text-align: left;
    position: relative;
}
.contact-absolute {
    width: 20px;
    position: absolute;
    right: 10px;
}
.contact__map-icon {
    background: url(/img/adress1.png) 0 0 no-repeat;
    width: 34px;
    height: 40px;
    top: -24px;
}
.contact__phone-icon {
    background: url(/img/adress2.png) 0 0 no-repeat;
    width: 39px;
    height: 40px;
    top: -24px;
}
.contact__metro-icon {
    background: url(/img/adress3.png) 0 0 no-repeat;
    width: 34px;
    height: 40px;
    top: -24px;
}

.contact-title {
    color: black;
    font-family: "RobotoSlab-Bold";
    font-size: 18px;
    font-weight: 700;
}
.contact-address {
    font-weight: 400;
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 8px;
}
.contact-address__span {
    color: #686868;
    font-family: "RobotoSlab-Light";
    font-size: 13px;
    line-height: 20px;
    display: block;
}
.contact-tel__span {
    color: black;
    font-family: "RobotoSlab-Light";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}
.contact-telephone {
    color: black;
    font-family: RobotoSlab-Bold;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 10px;
    &:nth-child(3) {
        margin-bottom: 30px;
    }
}
.contact-email {
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 14px;
    font-weight: 400;
}
.contact-metroaddr {
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}
.contact-metro__span {
    color: #686868;
    font-family: "RobotoSlab-Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
}

/* Application */
section.application {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(/img/zaiavka.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
h2.application-title {
    font-family: "RobotoSlab-Bold";
    font-size: 52px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    margin-bottom: 45px;
}

span.application-title__span {
    font-family: "RobotoSlab-Regular";
    font-size: 25px;
    font-weight: 400;
}
a.apllication-btn {
    display: block;
    width: 275px;
    margin: auto;
}
.apllication-textblock {
    text-align: center;
    margin-top: 60px;
}
.application-toptext {
    color: black;
    font-family: "RobotoSlab-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    max-width: 760px;
    margin: auto;
}
.application-text__span {
    font-size: 14px;
    line-height: 20px;
    }

section.header-top {
    padding-top: 13px;
    padding-bottom: 13px;
    min-height: 50px;
    background: url(/img/headertop.jpg) #560001 0 0 repeat-y;
}
.headertop-spb__phone {
    color: #cebcbc;
    font-family: "RobotoSlab-Regular";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-top: -5px;
    margin-right: 5px;
}
.last-phone {
    margin-right: 0;
}
.headertop-spb__phonespan {
    color: white;
    font-family: "RobotoSlab-Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.headertop-spb {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 38px;
        height: 20px;
        background: url(/img/spb.png) 0 0 no-repeat;
    }
}
.headertop-mobile {
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 38px;
        height: 20px;
        background: url(/img/mob.png) 0 0 no-repeat;
    }
}
.header-topemail {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        width: 48px;
        height: 20px;
        background: url(/img/email.png) 0 0 no-repeat;
        margin-right: 5px;
    }
}
.header-top__logo {
    position: absolute;
    left: 50%;
    margin-left: -83px;
    top: -13px;
}
.header-top__left {
    width: 100%;
}
.header-topemail__link {
    color: #cebcbc;
    font-family: "RobotoSlab-Regular";
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 1px;
    border-bottom: 1px dashed #cebcbc;
    &:hover {
        border-bottom: 0;
    }
}
.header-top-btn {
    margin-right: 0;
    line-height: 28px;
    padding-left: 30px;
    margin-left: 30px;
    margin-top: 20px;
}
.header-logo-wrap {
    width: 100px;
    height: 82px;
    img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        margin-left: -50px;
    }
}
.header-top__center {
    text-align: center;
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
    section.contact {
        padding-top: 70px;
    }
    
    section.application {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .contact-item__block {
        margin-bottom: 0px;
    }
    .contact-block {
        height: 282px;
    }
    .header-top__left {
        width: 44%;
        padding-top: 5px;
    }
    .header-logo-wrap {
        width: 0;
        height: 0;
        img {
            margin-left: -83px;
        }
    }
    
    .header-logo-wrap {
        img {
            max-width: unset;
            max-height: unset;
        }
    }
}

@media only screen and (min-width : 1200px) {
    .header-top-btn {
        margin-top: 0;
    }
}

@media only screen and (min-width : 1248px) {
    .contact-item__block1 {
        width: 26%;
    }
    .contact-item__block3 {
        width: 49%;
    }
    .contact-block {
        max-height: 190px;
    }
    .header-top__left {
        width: 44%;
    }
    .header-topemail__btn {
        margin-top: 0;
    }
}

.clear{
    clear: both;
}
.center{
	text-align: center;
}
.section_padding{
	padding:20px 0;
}

h1{	
    color: black;
    font-family: "RobotoSlab-Bold";
    font-size: 29px;
    font-weight: 700;
}
h2{	
    display: block;
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 24px;
}
span.h2{
    display: block;
    font-family: "RobotoSlab-Regular";
    font-size: 24px;
    margin-bottom: 50px;
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}


