/* line 1, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
section.contact {
  padding-top: 30px; }

/* line 4, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-title {
  margin-bottom: 25px; }

/* line 7, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-item__block {
  text-align: center;
  margin-bottom: 20px; }

/* line 11, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-block {
  border: 1px solid #ebf2f5;
  padding: 35px 30px 35px 30px;
  text-align: left;
  position: relative; }

/* line 17, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-absolute {
  width: 20px;
  position: absolute;
  right: 10px; }

/* line 22, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact__map-icon {
  background: url(/img/adress1.png) 0 0 no-repeat;
  width: 34px;
  height: 40px;
  top: -24px; }

/* line 28, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact__phone-icon {
  background: url(/img/adress2.png) 0 0 no-repeat;
  width: 39px;
  height: 40px;
  top: -24px; }

/* line 34, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact__metro-icon {
  background: url(/img/adress3.png) 0 0 no-repeat;
  width: 34px;
  height: 40px;
  top: -24px; }

/* line 41, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-title {
  color: black;
  font-family: "RobotoSlab-Bold";
  font-size: 18px;
  font-weight: 700; }

/* line 47, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-address {
  font-weight: 400;
  color: black;
  font-family: "RobotoSlab-Regular";
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 8px; }

/* line 55, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-address__span {
  color: #686868;
  font-family: "RobotoSlab-Light";
  font-size: 13px;
  line-height: 20px;
  display: block; }

/* line 62, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-tel__span {
  color: black;
  font-family: "RobotoSlab-Light";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px; }

/* line 72, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-telephone {
  color: black;
  font-family: RobotoSlab-Bold;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 10px; }
  /* line 80, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .contact-telephone:nth-child(3) {
    margin-bottom: 30px; }

/* line 84, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-email {
  color: black;
  font-family: "RobotoSlab-Regular";
  font-size: 14px;
  font-weight: 400; }

/* line 90, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-metroaddr {
  color: black;
  font-family: "RobotoSlab-Regular";
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px; }
  /* line 97, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .contact-metroaddr:last-child {
    margin-bottom: 0; }

/* line 101, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.contact-metro__span {
  color: #686868;
  font-family: "RobotoSlab-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 32px; }

/* Application */
/* line 110, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
section.application {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/img/zaiavka.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }

/* line 118, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
h2.application-title {
  font-family: "RobotoSlab-Bold";
  font-size: 52px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  margin-bottom: 45px; }

/* line 127, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
span.application-title__span {
  font-family: "RobotoSlab-Regular";
  font-size: 25px;
  font-weight: 400; }

/* line 132, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
a.apllication-btn {
  display: block;
  width: 275px;
  margin: auto; }

/* line 137, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.apllication-textblock {
  text-align: center;
  margin-top: 60px; }

/* line 141, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.application-toptext {
  color: black;
  font-family: "RobotoSlab-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  max-width: 760px;
  margin: auto; }

/* line 151, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.application-text__span {
  font-size: 14px;
  line-height: 20px; }

/* line 156, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
section.header-top {
  padding-top: 13px;
  padding-bottom: 13px;
  min-height: 50px;
  background: url(/img/headertop.jpg) #560001 0 0 repeat-y; }

/* line 162, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.headertop-spb__phone {
  color: #cebcbc;
  font-family: "RobotoSlab-Regular";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-top: -5px;
  margin-right: 5px; }

/* line 172, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.last-phone {
  margin-right: 0; }

/* line 175, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.headertop-spb__phonespan {
  color: white;
  font-family: "RobotoSlab-Bold";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle; }

/* line 184, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.headertop-spb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }
  /* line 188, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .headertop-spb:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 20px;
    background: url(/img/spb.png) 0 0 no-repeat; }

/* line 197, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.headertop-mobile {
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px; }
  /* line 201, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .headertop-mobile:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 20px;
    background: url(/img/mob.png) 0 0 no-repeat; }

/* line 210, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.header-topemail {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px; }
  /* line 214, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-topemail:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 48px;
    height: 20px;
    background: url(/img/email.png) 0 0 no-repeat;
    margin-right: 5px; }

/* line 224, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.header-top__logo {
  position: absolute;
  left: 50%;
  margin-left: -83px;
  top: -13px; }

/* line 230, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.header-top__left {
  width: 100%; }

/* line 233, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.header-topemail__link {
  color: #cebcbc;
  font-family: "RobotoSlab-Regular";
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 1px;
  border-bottom: 1px dashed #cebcbc; }
  /* line 240, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-topemail__link:hover {
    border-bottom: 0; }

/* line 244, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.header-top-btn {
  margin-right: 0;
  line-height: 28px;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 20px; }

/* line 251, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.header-logo-wrap {
  width: 100px;
  height: 82px; }
  /* line 254, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-logo-wrap img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin-left: -50px; }

/* line 261, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
.header-top__center {
  text-align: center; }

@media only screen and (min-width: 992px) {
  /* line 274, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  section.contact {
    padding-top: 70px; }
  /* line 278, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  section.application {
    padding-top: 80px;
    padding-bottom: 80px; }
  /* line 282, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .contact-item__block {
    margin-bottom: 0px; }
  /* line 285, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .contact-block {
    height: 282px; }
  /* line 288, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-top__left {
    width: 44%;
    padding-top: 5px; }
  /* line 292, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-logo-wrap {
    width: 0;
    height: 0; }
    /* line 295, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
    .header-logo-wrap img {
      margin-left: -83px; }
  /* line 301, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-logo-wrap img {
    max-width: unset;
    max-height: unset; } }

@media only screen and (min-width: 1200px) {
  /* line 309, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-top-btn {
    margin-top: 0; } }

@media only screen and (min-width: 1248px) {
  /* line 315, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .contact-item__block1 {
    width: 26%; }
  /* line 318, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .contact-item__block3 {
    width: 49%; }
  /* line 321, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .contact-block {
    max-height: 190px; }
  /* line 324, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-top__left {
    width: 44%; }
  /* line 327, ../../OpenServer/domains/terem.loc/css/style-dg.scss */
  .header-topemail__btn {
    margin-top: 0; } }

/*# sourceMappingURL=style-dg.css.map */