<<<<<<< HEAD
.dd-button_1__wrap{text-align:center}.dd-title{color:black;font-family:"RobotoSlab-Bold";font-size:29px;font-weight:700}.dop{padding:57px 0px;text-align:center}.button_1{font-family:"RobotoSlab-Regular";font-size:15px;display:inline-block;box-shadow:0 5px 13px rgba(86,0,1,0.3);width:174px;height:40px;background:url(../img/b1.png) no-repeat center;background-size:cover;text-align:center;line-height:39px;color:#fff;border-radius:18px}.button_1:hover{background:url(../img/b2.jpg) no-repeat center;background-size:cover}.button_1:active{background:url(../img/b1.png) no-repeat center;background-size:cover;color:#D0A6A6 !important}.active_buttons{background:url(../img/b2.jpg) no-repeat center;background-size:cover}.button_1__color{color:#D0A6A6 !important}.button_1__color:hover{color:#fff !important}.dd-button_2__wrap{text-align:center;padding:47px 0px}.button_2{display:inline-block;border:1px solid #dde6eb;font-size:13px;font-family:"RobotoSlab-Regular";color:#99A8B0;border-radius:18px;height:36px;width:124px;text-align:center;line-height:30px;position:relative}.button_2:after{content:"";position:absolute;width:20px;height:26px;background:url(../img/str.jpg) no-repeat center;right:-9px;top:4px}.button_2__mright{margin-right:40px}.button_2:hover{border:1px solid #84b546;color:black}.button_2:active{border:1px solid black;color:black}.button_2:active:after{background:url(../img/bstr.jpg) no-repeat center}.active_buttons_2{border:1px solid #84b546;color:black}.active_buttons_3{border:1px solid black;color:black}.active_buttons_3:after{background:url(../img/bstr.jpg) no-repeat center}.dd-button_3__wrap{text-align:center}.button_3{text-align:center;display:inline-block;font-family:"RobotoSlab-Regular";font-size:17px;color:#fff;padding:16px 64px;box-shadow:0 5px 13px rgba(86,0,1,0.3);border-radius:30px;background:url(../img/b1.png) no-repeat center;background-size:cover}.button_3:hover{background:url(../img/b2.jpg) no-repeat center;background-size:cover}.button_3:active{color:#D0A6A6;background:url(../img/b1.png) no-repeat center;background-size:cover}.button_3_active{background:url(../img/b2.jpg) no-repeat center;background-size:cover}.button_3_color{color:#D0A6A6}.dd-button_4__wrap{background:#570203;width:100%;padding:14px 0px;text-align:center;margin:50px 0px}.button_4{display:inline-block;color:#fff;font-family:"RobotoSlab-Regular";font-size:12px;border:1px solid #8E6063;width:161px;height:32px;border-radius:18px;line-height:25px;padding-left:11px;position:relative}.button_4:after{content:"";position:absolute;background:url(../img/t.png) no-repeat center;width:13px;height:14px;left:11px;top:7px}.button_4:hover{border:1px solid #FAA55D;color:#FAA55D}.button_4:hover:after{background:url(../img/t2.png) no-repeat center}.button_4:active{background:#4A0203;border:1px solid #8E6063;color:#fff}.button_4:active:after{background:url(../img/t.png) no-repeat center}.button_4_active{border:1px solid #FAA55D;color:#FAA55D}.button_4_active:after{background:url(../img/t2.png) no-repeat center}.button_4_color{background:#4A0203}.dd-side-title span{font-size:36px;font-family:"RobotoSlab-Bold"}.dd-side-title p{font-size:24px;font-family:"RobotoSlab-Regular";margin-bottom:52px}.dd-sl-r-title p{font-size:24px;font-family:"RobotoSlab-Regular"}.dd-slide-box_right{padding-top:25px}.dd-slide-box_right span{display:inline-block;color:black;font-family:"RobotoSlab-Bold";font-size:36px}.dd-slide-but{width:136px;vertical-align:bottom;margin-top:20px}.dd-inline{display:inline-block}.dd-slide-video-link{padding-left:36px}.dd-slide-video-link span{display:inline-block;border-bottom:1px dashed #ABBAC2;font-size:18px}.dd-slide-but{margin-left:116px}.dd-sl-r-title{text-align:left;padding-bottom:66px}.dd-text{margin-bottom:46px;border-left:1px solid #EBF2F5}.dd-text span:first-child{line-height:22px;color:black;font-family:"RobotoSlab-Bold";font-size:16px}.dd-text .dd-date{color:#979797;font-family:"RobotoSlab-Regular";font-size:13px;display:inline-block;margin-left:10px}.dd-text p{color:black;font-family:"RobotoSlab-Regular";font-size:14px;line-height:22px;padding-top:25px}.dd-text p a{border-bottom:1px dashed #6E2626;color:#6E2626}#dd-owl .df-left,#dd-owl .df-right{top:20px !important}.dd-menu-bottom-wrap{background:#000000;padding:25px 0px}.dd-menu-left li{display:inline-block;margin-right:44px}.dd-menu-left a{display:inline-block;position:relative;color:#fff;font-family:"RobotoSlab-Regular";font-size:15px;border-bottom:1px dashed #818181}.dd-menu-left a:after{content:"";position:absolute;width:8px;height:3px;background:url(../img/s.png) no-repeat;right:-18px;top:10px}.dd-sub-menu{padding-top:24px;padding-bottom:22px;width:173px;background:#fff;top:46px;left:0;position:absolute;z-index:999;outline:2px solid blue}.dd-sub-menu li{margin-right:0;display:block}.dd-sub-menu a{padding:10px 0px 10px 24px;color:#000000;display:block;border:none}.dd-sub-menu .dd-sum_item{background-image:url("../img/s2.png");background-repeat:no-repeat;background-position:right 15px center}.dd-sub-menu .dd-sum_item:hover{background-image:url("../img/s3.png");background-repeat:no-repeat;background-position:right 15px center}.dd-sub-menu a:after{display:none}.dd-sub-menu a:hover{background:#641617;color:#fff}.dd-li-wrap{position:relative}.dd-li-wrap:after{content:"";position:absolute;background:url(../img/tre.png);width:24px;height:28px;top:-34px;left:60px}.dd-sub-menu-2{position:absolute;padding-top:25px;padding-bottom:21px;width:171px;right:-173px;background:#fff;z-index:999;outline:1px solid red}@media only screen and (min-width: 480px){.dd-slide-video-link span{font-size:19px}}@media only screen and (min-width: 992px){.dd-text{padding-left:24px}.dd-slide-box_right{padding-top:0px}.dd-sl-r-title,.dd-title-wr{padding-left:75px}}
/*# sourceMappingURL=style-dd.css.map */
=======
@charset "UTF-8";
/* tech.php
========================*/
/* line 4, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_1__wrap {
  text-align: center; }

/* line 7, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-title {
  color: black;
  font-family: "RobotoSlab-Bold";
  font-size: 29px;
  font-weight: 700; }

/* line 15, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dop {
  padding: 57px 0px;
  text-align: center; }

/* line 20, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1 {
  font-family: "RobotoSlab-Regular";
  font-size: 15px;
  display: inline-block;
  box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
  width: 174px;
  height: 40px;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover;
  text-align: center;
  line-height: 39px;
  color: #fff;
  border-radius: 18px; }

/* line 34, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1:hover {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 38, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1:active {
  background: url(../img/b1.png) no-repeat center;
  background-size: cover;
  color: #D0A6A6 !important; }

/* line 43, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 47, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1__color {
  color: #D0A6A6 !important; }

/* line 50, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_1__color:hover {
  color: #fff !important; }

/* line 55, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_2__wrap {
  text-align: center;
  padding: 47px 0px; }

/* line 59, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2 {
  display: inline-block;
  border: 1px solid #dde6eb;
  font-size: 13px;
  font-family: "RobotoSlab-Regular";
  color: #99A8B0;
  border-radius: 18px;
  height: 36px;
  width: 124px;
  text-align: center;
  line-height: 30px;
  position: relative; }

/* line 72, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 26px;
  background: url(../img/str.jpg) no-repeat center;
  right: -9px;
  top: 4px; }

/* line 81, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2__mright {
  margin-right: 40px; }

/* line 84, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:hover {
  border: 1px solid #84b546;
  color: black; }

/* line 88, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:active {
  border: 1px solid black;
  color: black; }

/* line 92, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_2:active:after {
  background: url(../img/bstr.jpg) no-repeat center; }

/* line 95, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons_2 {
  border: 1px solid #84b546;
  color: black; }

/* line 99, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons_3 {
  border: 1px solid black;
  color: black; }

/* line 103, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.active_buttons_3:after {
  background: url(../img/bstr.jpg) no-repeat center; }

/* line 108, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_3__wrap {
  text-align: center; }

/* line 111, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3 {
  text-align: center;
  display: inline-block;
  font-family: "RobotoSlab-Regular";
  font-size: 17px;
  color: #fff;
  padding: 16px 64px;
  box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
  border-radius: 30px;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover; }

/* line 123, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3:hover {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 127, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3:active {
  color: #D0A6A6;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover; }

/* line 132, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3_active {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 136, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_3_color {
  color: #D0A6A6; }

/* line 141, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-button_4__wrap {
  background: #570203;
  width: 100%;
  padding: 14px 0px;
  text-align: center;
  margin: 50px 0px; }

/* line 148, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4 {
  display: inline-block;
  color: #fff;
  font-family: "RobotoSlab-Regular";
  font-size: 12px;
  border: 1px solid #8E6063;
  width: 161px;
  height: 32px;
  border-radius: 18px;
  line-height: 25px;
  padding-left: 11px;
  position: relative; }

/* line 161, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:after {
  content: "";
  position: absolute;
  background: url(../img/t.png) no-repeat center;
  width: 13px;
  height: 14px;
  left: 11px;
  top: 7px; }

/* line 170, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:hover {
  border: 1px solid #FAA55D;
  color: #FAA55D; }

/* line 174, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:hover:after {
  background: url(../img/t2.png) no-repeat center; }

/* line 177, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:active {
  background: #4A0203;
  border: 1px solid #8E6063;
  color: #fff; }

/* line 182, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4:active:after {
  background: url(../img/t.png) no-repeat center; }

/* line 185, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4_active {
  border: 1px solid #FAA55D;
  color: #FAA55D; }

/* line 189, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4_active:after {
  background: url(../img/t2.png) no-repeat center; }

/* line 192, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.button_4_color {
  background: #4A0203; }

/* Видео нашей работы
================================*/
/* line 199, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-side-title span {
  font-size: 19px;
  font-family: "RobotoSlab-Bold"; }

/* line 204, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-side-title p {
  font-size: 24px;
  font-family: "RobotoSlab-Regular";
  margin-bottom: 52px; }

/* line 211, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-sl-r-title p {
  font-size: 24px;
  font-family: "RobotoSlab-Regular"; }

/* line 216, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-slide-box_right {
  padding-top: 25px; }
  /* line 218, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
  .dd-slide-box_right span {
    display: inline-block;
    color: black;
    font-family: "RobotoSlab-Bold";
    font-size: 19px; }

/* line 227, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-slide-but {
  width: 136px; }

/* line 230, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-inline {
  display: inline-block; }

/* line 233, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-slide-video-link {
  padding-left: 36px; }
  /* line 235, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
  .dd-slide-video-link span {
    display: inline-block;
    border-bottom: 1px dashed #ABBAC2;
    font-size: 19px; }

/* line 241, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-slide-but {
  margin-left: 116px; }

/* line 244, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-sl-r-title {
  text-align: left;
  padding-bottom: 66px; }

/* line 248, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
.dd-text {
  margin-bottom: 56px; }
  /* line 250, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
  .dd-text span:first-child {
    line-height: 22px;
    color: black;
    font-family: "RobotoSlab-Bold";
    font-size: 16px; }
  /* line 256, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
  .dd-text .dd-date {
    color: #979797;
    font-family: "RobotoSlab-Regular";
    font-size: 13px;
    display: inline-block;
    margin-left: 10px; }
  /* line 263, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
  .dd-text p {
    color: black;
    font-family: "RobotoSlab-Regular";
    font-size: 14px;
    line-height: 22px;
    padding-top: 25px; }
    /* line 269, ../../OpenServer/domains/terem.loc/css/style-dd.scss */
    .dd-text p a {
      border-bottom: 1px dashed #6E2626;
      color: #6E2626; }

/*# sourceMappingURL=style-dd.css.map */
>>>>>>> 028343de586e414efa88b1e0e0344e8fe3246e55
