.section_db-footer-view{
	background: #000;
	color:#fff;
	font-family: "RobotoSlab-Regular";
	a{
		color:#fff;
		border-bottom: 1px dashed #818181; 
		font-size: 15px;
		font-family: "RobotoSlab-Regular";
	}
	a:hover{
		border-bottom: none; 
		color: #c5b4b4;
	}
}
.db-footer-ul{
	li{
		display: inline-block;

	}
}
.db-p-one{
	color: #acacac;
	font-size: 13px;
}
.db-city{
	background: url();
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

