@charset "UTF-8";
/* line 1, C:/OpenServer/domains/terem.loc/css/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, C:/OpenServer/domains/terem.loc/css/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, C:/OpenServer/domains/terem.loc/css/style.scss */
ul {
  list-style: none; }

/* line 30, C:/OpenServer/domains/terem.loc/css/style.scss */
blockquote, q {
  quotes: none; }

/* line 33, C:/OpenServer/domains/terem.loc/css/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@font-face {
  font-family: "rouble";
  src: url("../fonts/rouble/rouble.eot");
  src: local("☺"), url("../fonts/rouble/rouble.woff") format("woff"), url("../fonts/rouble/rouble.ttf") format("truetype"), url("../fonts/rouble/rouble.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 51, C:/OpenServer/domains/terem.loc/css/style.scss */
.mask {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  padding-right: 20px; }

/* line 64, C:/OpenServer/domains/terem.loc/css/style.scss */
#js-form1 {
  z-index: 1000;
  position: fixed;
  top: 15%;
  left: 0;
  background: #fff;
  padding: 47px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  display: none; }
  /* line 75, C:/OpenServer/domains/terem.loc/css/style.scss */
  #js-form1 p {
    font-size: 24px;
    color: black;
    margin-bottom: 29px; }
  /* line 80, C:/OpenServer/domains/terem.loc/css/style.scss */
  #js-form1 input[type="text"] {
    outline: none;
    box-shadow: inset 2.5px 4.3px 5px rgba(225, 234, 240, 0.35);
    border: 1px solid #ebf2f5;
    border-radius: 30px;
    padding: 13px 10px 13px 30px;
    width: 290px;
    margin-bottom: 21px;
    color: #909ba2;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400; }

/* line 96, C:/OpenServer/domains/terem.loc/css/style.scss */
#js-form3 {
  z-index: 1000;
  position: fixed;
  top: 15%;
  left: 0;
  background: #fff;
  padding: 47px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  display: none; }
  /* line 97, C:/OpenServer/domains/terem.loc/css/style.scss */
  #js-form3 h1 {
    margin-bottom: 20px; }
  /* line 110, C:/OpenServer/domains/terem.loc/css/style.scss */
  #js-form3 p {
    font-size: 24px;
    color: black;
    margin-bottom: 29px; }
  /* line 115, C:/OpenServer/domains/terem.loc/css/style.scss */
  #js-form3 input[type="text"] {
    outline: none;
    box-shadow: inset 2.5px 4.3px 5px rgba(225, 234, 240, 0.35);
    border: 1px solid #ebf2f5;
    border-radius: 30px;
    padding: 13px 10px 13px 30px;
    width: 290px;
    margin-bottom: 21px;
    color: #909ba2;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400; }

/* line 131, C:/OpenServer/domains/terem.loc/css/style.scss */
#js-form2 {
  z-index: 1000;
  position: fixed;
  top: 15%;
  left: 0;
  background: #fff;
  padding: 47px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  display: none; }
  /* line 143, C:/OpenServer/domains/terem.loc/css/style.scss */
  #js-form2 p {
    font-size: 24px;
    color: black;
    margin-top: 20px; }

/* line 149, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-close {
  position: absolute;
  top: -35px;
  right: -50px;
  cursor: pointer; }

/* line 155, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-button_3 {
  border: none;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  margin-top: 18px; }

/* line 162, C:/OpenServer/domains/terem.loc/css/style.scss */
input[type="text"]::-webkit-input-placeholder {
  color: #909ba2; }

/* line 163, C:/OpenServer/domains/terem.loc/css/style.scss */
input[type="text"]::-moz-input-placeholder {
  color: #909ba2; }

/* line 166, C:/OpenServer/domains/terem.loc/css/style.scss */
.section_db-footer-view {
  background: #000;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 400; }
  /* line 172, C:/OpenServer/domains/terem.loc/css/style.scss */
  .section_db-footer-view a {
    color: #fff;
    border-bottom: 1px dashed #818181;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400; }
  /* line 180, C:/OpenServer/domains/terem.loc/css/style.scss */
  .section_db-footer-view a:hover {
    border-bottom: none;
    color: #c5b4b4; }

/* line 185, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-up {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }

/* line 191, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-down {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; }

/* line 198, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-footer-ul {
  padding-bottom: 20px; }
  /* line 200, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-footer-ul li {
    padding-bottom: 10px; }

/* line 205, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-p-one {
  color: #acacac;
  font-size: 13px; }

/* line 209, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-city {
  background: url("../img/bg-email2.png") no-repeat top left 13px;
  font-size: 10px;
  color: #cebcbc;
  padding: 3px 14px 41px 19px; }

/* line 215, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-city2 {
  background: url("../img/bg-email.png") no-repeat top left 13px !important;
  font-size: 10px;
  color: #cebcbc;
  padding: 3px 14px 41px 19px; }

/* line 221, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-p-two {
  color: #cebcbc;
  font-size: 12px; }

/* line 227, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-p-p2 {
  padding-top: 5px; }

/* line 231, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-number {
  font-size: 16px;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

/* line 238, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-span-out {
  display: inline-block;
  margin-left: 57px; }

/* line 242, C:/OpenServer/domains/terem.loc/css/style.scss */
.db-p-p {
  padding-top: 5px; }
  /* line 244, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-p-p a {
    color: #cebcbc;
    font-size: 12px;
    border-bottom: none !important; }

@media only screen and (min-width: 992px) {
  /* line 261, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-up {
    max-width: unset;
    text-align: left; }
  /* line 265, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-down {
    max-width: unset;
    text-align: left;
    margin-top: 0; }
  /* line 270, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-footer-ul {
    padding-bottom: 35px; }
    /* line 272, C:/OpenServer/domains/terem.loc/css/style.scss */
    .db-footer-ul li {
      display: inline-block;
      padding-left: 10px; }
    /* line 277, C:/OpenServer/domains/terem.loc/css/style.scss */
    .db-footer-ul li:first-child {
      padding-left: 0px; } }

@media only screen and (min-width: 1248px) {
  /* line 285, C:/OpenServer/domains/terem.loc/css/style.scss */
  .section_db-footer-view {
    padding: 40px 0 !important; }
  /* line 291, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-footer-ul li {
    padding-left: 23px; }
  /* line 297, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-p-two-float {
    float: left; }
  /* line 300, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-p-p {
    padding-top: 4px;
    padding-left: 32px; }
  /* line 304, C:/OpenServer/domains/terem.loc/css/style.scss */
  .db-p-p2 {
    padding-top: 18px; } }

/* tech.php
========================*/
/* line 314, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-button_1__wrap {
  text-align: center; }

/* line 317, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-title {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 29px;
  font-weight: 700; }

/* line 327, C:/OpenServer/domains/terem.loc/css/style.scss */
.dop {
  padding: 57px 0px;
  text-align: center; }

/* line 332, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
  width: 174px;
  height: 40px;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover;
  text-align: center;
  line-height: 39px;
  color: #fff;
  border-radius: 18px; }

/* line 348, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_1:hover {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 352, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_1:active {
  background: url(../img/b1.png) no-repeat center;
  background-size: cover;
  color: #D0A6A6 !important; }

/* line 357, C:/OpenServer/domains/terem.loc/css/style.scss */
.active_buttons {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 361, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_1__color {
  color: #D0A6A6 !important; }

/* line 364, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_1__color:hover {
  color: #fff !important; }

/* line 369, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-button_2__wrap {
  text-align: center;
  padding: 47px 0px; }

/* line 373, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_2 {
  display: inline-block;
  border: 1px solid #dde6eb;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #99A8B0;
  border-radius: 18px;
  height: 36px;
  width: 124px;
  text-align: center;
  line-height: 30px;
  position: relative; }

/* line 388, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_2:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 26px;
  background: url(../img/str.jpg) no-repeat center;
  right: -9px;
  top: 4px; }

/* line 397, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_2__mright {
  margin-right: 40px; }

/* line 400, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_2:hover {
  border: 1px solid #84b546;
  color: black; }

/* line 404, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_2:active {
  border: 1px solid black;
  color: black; }

/* line 408, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_2:active:after {
  background: url(../img/bstr.jpg) no-repeat center; }

/* line 411, C:/OpenServer/domains/terem.loc/css/style.scss */
.active_buttons_2 {
  border: 1px solid #84b546;
  color: black; }

/* line 415, C:/OpenServer/domains/terem.loc/css/style.scss */
.active_buttons_3 {
  border: 1px solid black;
  color: black; }

/* line 419, C:/OpenServer/domains/terem.loc/css/style.scss */
.active_buttons_3:after {
  background: url(../img/bstr.jpg) no-repeat center; }

/* line 424, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-button_3__wrap {
  text-align: center; }

/* line 427, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_3 {
  text-align: center;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding: 16px 64px;
  box-shadow: 0 5px 13px rgba(86, 0, 1, 0.3);
  border-radius: 30px;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover; }

/* line 441, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_3:hover {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 445, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_3:active {
  color: #D0A6A6;
  background: url(../img/b1.png) no-repeat center;
  background-size: cover; }

/* line 450, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_3_active {
  background: url(../img/b2.jpg) no-repeat center;
  background-size: cover; }

/* line 454, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_3_color {
  color: #D0A6A6; }

/* line 459, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-button_4__wrap {
  background: #570203;
  width: 100%;
  padding: 14px 0px;
  text-align: center;
  margin: 50px 0px; }

/* line 466, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4 {
  display: inline-block;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #8E6063;
  width: 161px;
  height: 32px;
  border-radius: 18px;
  line-height: 25px;
  padding-left: 11px;
  position: relative; }

/* line 481, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4:after {
  content: "";
  position: absolute;
  background: url(../img/t.png) no-repeat center;
  width: 13px;
  height: 14px;
  left: 11px;
  top: 7px; }

/* line 490, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4:hover {
  border: 1px solid #FAA55D;
  color: #FAA55D; }

/* line 494, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4:hover:after {
  background: url(../img/t2.png) no-repeat center; }

/* line 497, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4:active {
  background: #4A0203;
  border: 1px solid #8E6063;
  color: #fff; }

/* line 502, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4:active:after {
  background: url(../img/t.png) no-repeat center; }

/* line 505, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4_active {
  border: 1px solid #FAA55D;
  color: #FAA55D; }

/* line 509, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4_active:after {
  background: url(../img/t2.png) no-repeat center; }

/* line 512, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_4_color {
  background: #4A0203; }

/* Видео нашей работы
================================*/
/* line 519, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-side-title span {
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

/* line 526, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-side-title p {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin-bottom: 52px; }

/* line 535, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sl-r-title p {
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400; }

/* line 542, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-slide-box_right {
  padding-top: 25px; }
  /* line 544, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-slide-box_right span {
    display: inline-block;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 36px; }

/* line 555, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-slide-but {
  width: 136px;
  vertical-align: bottom;
  margin-top: 20px; }

/* line 560, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-inline {
  display: inline-block; }

/* line 563, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-slide-video-link {
  padding-left: 36px; }
  /* line 565, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-slide-video-link span {
    display: inline-block;
    border-bottom: 1px dashed #ABBAC2;
    font-size: 18px; }

/* line 571, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-slide-but {
  margin-left: 116px; }

/* line 574, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sl-r-title {
  text-align: left;
  padding-bottom: 66px; }

/* line 578, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-text {
  margin-bottom: 46px;
  border-left: 1px solid #EBF2F5; }
  /* line 581, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-text span:first-child {
    line-height: 22px;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 16px; }
  /* line 589, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-text .dd-date {
    color: #979797;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    margin-left: 10px; }
  /* line 598, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-text p {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-top: 25px; }
    /* line 606, C:/OpenServer/domains/terem.loc/css/style.scss */
    .dd-text p a {
      border-bottom: 1px dashed #6E2626;
      color: #6E2626; }

/* line 613, C:/OpenServer/domains/terem.loc/css/style.scss */
#dd-owl .df-left, #dd-owl .df-right {
  top: 20px !important; }

/* Menu-bottom
=============================*/
/* line 620, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-menu-bottom-wrap {
  background: #000000;
  display: none; }

/* line 626, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-menu-left li {
  display: inline-block;
  margin-right: 15px;
  padding: 25px 0px; }

/* line 632, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-menu-left a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 15px;
  border-bottom: 1px dashed #818181; }

/* line 642, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-menu-left a:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 3px;
  background: url(../img/s.png) no-repeat;
  right: -18px;
  top: 10px; }

/* line 653, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-menu-right li {
  display: inline-block;
  margin-right: 0px; }

/* line 657, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-menu-right .ml-left {
  margin-left: 79px; }

/* line 661, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-menu-right .margin-li {
  margin-left: 9px; }
  /* line 664, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-menu-right .margin-li a:after {
    display: none; }

/* line 670, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sub-menu {
  padding-top: 24px;
  padding-bottom: 22px;
  width: 173px;
  background: #fff;
  top: 72px;
  left: 0;
  position: absolute;
  z-index: 999;
  display: none; }
  /* line 681, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sub-menu li {
    padding: 0;
    margin-right: 0 !important;
    display: block;
    position: relative; }
  /* line 687, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sub-menu a {
    padding: 10px 0px 10px 24px;
    color: #000000;
    display: block;
    border: none; }
  /* line 693, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sub-menu .dd-sum_item {
    background-image: url("../img/s2.png");
    background-repeat: no-repeat;
    background-position: right 15px center; }
  /* line 698, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sub-menu .dd-sum_item:hover {
    background-image: url("../img/s3.png");
    background-repeat: no-repeat;
    background-position: right 15px center; }
  /* line 703, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sub-menu a:after {
    display: none; }
  /* line 706, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sub-menu a:hover {
    background: #641617;
    color: #fff; }

/* line 711, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sub-menu_next_1 {
  left: 156px; }

/* line 714, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sub-menu_next_2 {
  left: 334px; }

/* line 717, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sub-menu4 {
  left: 94px; }

/* line 720, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-li-wrap {
  position: relative; }

/* line 723, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-li-wrap:after {
  content: "";
  position: absolute;
  background: url(../img/tre.png);
  width: 24px;
  height: 28px;
  top: -34px;
  left: 70px; }

/* line 732, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sub-menu-2, .dd-sub-menu-3 {
  position: absolute;
  padding-top: 25px;
  padding-bottom: 21px;
  width: 171px;
  top: 0;
  right: -173px;
  background: #fff;
  z-index: 999;
  right: -171px;
  top: 0;
  background: #fff;
  z-index: 999; }

/* line 746, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-relative {
  position: relative; }

/* Мобильное меню
===========================*/
/* line 752, C:/OpenServer/domains/terem.loc/css/style.scss */
.mobile-menu {
  background: black;
  width: 100%;
  padding: 25px 0px;
  display: none; }

/* line 758, C:/OpenServer/domains/terem.loc/css/style.scss */
.mobile-menu_elements {
  text-align: center; }
  /* line 760, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mobile-menu_elements li {
    padding: 0;
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0; }
  /* line 768, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mobile-menu_elements .after_none a:after {
    display: none !important; }

/* line 773, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sub {
  display: none;
  padding: 10px 0px; }
  /* line 779, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sub li a {
    color: orange; }

/* line 786, C:/OpenServer/domains/terem.loc/css/style.scss */
.dd-sub__inner li a {
  color: yellow; }

/* line 791, C:/OpenServer/domains/terem.loc/css/style.scss */
.burger {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 90; }

@media only screen and (min-width: 480px) {
  /* line 810, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-slide-video-link span {
    font-size: 19px; } }

@media only screen and (min-width: 992px) {
  /* line 820, C:/OpenServer/domains/terem.loc/css/style.scss */
  .burger {
    display: none; }
  /* line 823, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-menu-bottom-wrap {
    display: block; }
  /* line 826, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-text {
    padding-left: 24px; }
  /* line 829, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-slide-box_right {
    padding-top: 0px; }
  /* line 832, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-sl-r-title, .dd-title-wr {
    padding-left: 75px; } }

@media only screen and (min-width: 1248px) {
  /* line 839, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-menu-left li {
    margin-right: 44px; }
  /* line 844, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-menu-right li {
    margin-right: 0; }
  /* line 847, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-menu-right .margin-li {
    margin-left: 31px; }
  /* line 851, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dd-menu-right .ml-left {
    margin-left: 111px; } }

/* line 858, C:/OpenServer/domains/terem.loc/css/style.scss */
section {
  font-family: 'Roboto Slab', serif;
  font-weight: 400; }

/* line 863, C:/OpenServer/domains/terem.loc/css/style.scss */
.about {
  font-family: 'Roboto Slab', serif;
  font-weight: 400; }
  /* line 867, C:/OpenServer/domains/terem.loc/css/style.scss */
  .about__wrap {
    padding: 70px 0; }
    /* line 869, C:/OpenServer/domains/terem.loc/css/style.scss */
    .about__wrap p {
      padding-bottom: 20px; }

/* line 874, C:/OpenServer/domains/terem.loc/css/style.scss */
.title-block {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 36px;
  padding: 0 15px 0 100px;
  font-weight: 400; }

/* line 882, C:/OpenServer/domains/terem.loc/css/style.scss */
.descr {
  font-size: 24px;
  display: block;
  padding: 0 100px 75px;
  padding-bottom: 75px;
  padding-right: 100px;
  padding-left: 100px; }

/* line 890, C:/OpenServer/domains/terem.loc/css/style.scss */
.paper {
  font-family: 'Roboto Slab', serif;
  font-weight: 400; }
  /* line 894, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__wrap {
    margin: 0 -15px; }
    /* line 896, C:/OpenServer/domains/terem.loc/css/style.scss */
    .paper__wrap .owl-prev, .paper__wrap .owl-next {
      color: transparent;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ebf2f5;
      background-image: url("../img/left.png");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: -105px;
      right: 43px; }
    /* line 909, C:/OpenServer/domains/terem.loc/css/style.scss */
    .paper__wrap .owl-next {
      background-image: url("../img/right.png");
      right: 0; }
  /* line 914, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__inner {
    padding: 0 15px 70px 15px;
    outline: none; }
  /* line 918, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__content {
    padding: 23px;
    border: 1px solid #ebf2f5;
    display: block; }
    /* line 922, C:/OpenServer/domains/terem.loc/css/style.scss */
    .paper__content:hover {
      -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1); }
  /* line 928, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__title {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #000;
    font-size: 16px;
    font-size: 15px;
    letter-spacing: -0.5px;
    border-bottom: 1px dashed #abbac2; }
    /* line 937, C:/OpenServer/domains/terem.loc/css/style.scss */
    .paper__title:hover {
      color: #621212;
      background: none;
      border-bottom: 1px dashed transparent; }
  /* line 943, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__img {
    width: 170px;
    height: 120px;
    overflow: hidden;
    float: left; }
    /* line 948, C:/OpenServer/domains/terem.loc/css/style.scss */
    .paper__img img {
      display: block;
      width: 100%;
      height: auto;
      min-height: 100%; }
  /* line 955, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__text {
    float: left;
    max-width: 320px;
    padding-left: 20px; }
    /* line 959, C:/OpenServer/domains/terem.loc/css/style.scss */
    .paper__text p {
      padding: 15px 0 5px; }

/* line 964, C:/OpenServer/domains/terem.loc/css/style.scss */
.galery {
  overflow: hidden; }
  /* line 966, C:/OpenServer/domains/terem.loc/css/style.scss */
  .galery .img-wrap {
    display: block;
    float: left;
    width: 16.66%;
    overflow: hidden; }
    /* line 971, C:/OpenServer/domains/terem.loc/css/style.scss */
    .galery .img-wrap:hover img {
      transform: scale(1.1); }
    /* line 974, C:/OpenServer/domains/terem.loc/css/style.scss */
    .galery .img-wrap img {
      width: 100%;
      height: auto;
      display: block;
      min-height: 100%;
      transition: 0.8s all ease; }

/* line 983, C:/OpenServer/domains/terem.loc/css/style.scss */
.our {
  padding: 135px 0 50px;
  background: #f8fafb;
  margin-top: -110px; }

/* line 988, C:/OpenServer/domains/terem.loc/css/style.scss */
.advantages {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 16px; }
  /* line 993, C:/OpenServer/domains/terem.loc/css/style.scss */
  .advantages__item {
    padding-bottom: 30px;
    float: left;
    width: 16.66%; }

/* line 999, C:/OpenServer/domains/terem.loc/css/style.scss */
.advantages p {
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

/* line 1006, C:/OpenServer/domains/terem.loc/css/style.scss */
.title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-weight: 400;
  font-size: 60px;
  text-align: center; }

/* line 1014, C:/OpenServer/domains/terem.loc/css/style.scss */
.title__descr {
  display: block;
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  max-width: 485px; }

/* line 1021, C:/OpenServer/domains/terem.loc/css/style.scss */
.main-block {
  height: 515px;
  padding-top: 120px;
  background: url(../img/fon1.jpg) center top no-repeat; }

/* line 1026, C:/OpenServer/domains/terem.loc/css/style.scss */
.mini-blocks {
  margin-bottom: 30px;
  position: relative; }
  /* line 1029, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-blocks::before {
    content: "";
    width: 57px;
    height: 63px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -28px;
    z-index: 1000;
    background: url(../img/search.png); }

/* line 1041, C:/OpenServer/domains/terem.loc/css/style.scss */
.mini-block {
  float: left;
  width: 25%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: none;
  position: relative;
  overflow: hidden;
  height: 180px; }
  /* line 1050, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block:first-child {
    border-left: none; }
  /* line 1053, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block:last-child {
    border-right: none; }
  /* line 1056, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block:hover img {
    transform: scale(1.2); }
  /* line 1059, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block img {
    transition: 0.8s all ease;
    width: 100%;
    display: block;
    height: auto;
    min-height: 100%; }
  /* line 1066, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block i {
    display: block;
    font-style: normal;
    position: absolute;
    top: 50px;
    left: 40px; }
  /* line 1073, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block span {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 40px;
    display: block;
    color: #fff;
    line-height: 1;
    padding-bottom: 7px; }
  /* line 1083, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block .back {
    top: 70px; }
    /* line 1085, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block .back span {
      font-size: 26px;
      color: rgba(255, 255, 255, 0.6);
      padding-bottom: 0;
      letter-spacing: 0.5px; }
  /* line 1092, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block b {
    font-weight: 400;
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6); }

/* line 1099, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfpadding {
  padding-top: 60px; }

@media only screen and (max-width: 1200px) {
  /* line 1104, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__img {
    margin: 0 auto;
    float: none; }
  /* line 1108, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__text {
    padding: 10px 0;
    float: none;
    max-width: none; }
  /* line 1114, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block {
    height: 140px; }
    /* line 1116, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block i {
      top: 35px;
      left: 30px; }
      /* line 1119, C:/OpenServer/domains/terem.loc/css/style.scss */
      .mini-block i span {
        font-size: 26px; }
    /* line 1123, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block .back {
      top: 55px; }
      /* line 1125, C:/OpenServer/domains/terem.loc/css/style.scss */
      .mini-block .back span {
        font-size: 22px; } }

@media only screen and (max-width: 1000px) {
  /* line 1133, C:/OpenServer/domains/terem.loc/css/style.scss */
  .advantages__item {
    width: 33.33%; }
  /* line 1136, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block {
    height: 120px; }
    /* line 1138, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block i {
      top: 30px;
      left: 20px; }
      /* line 1141, C:/OpenServer/domains/terem.loc/css/style.scss */
      .mini-block i span {
        font-size: 18px; }
    /* line 1145, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block .back {
      top: 38px; }
      /* line 1147, C:/OpenServer/domains/terem.loc/css/style.scss */
      .mini-block .back span {
        font-size: 16px; }
  /* line 1152, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfpadding {
    padding-top: 10px; } }

@media only screen and (max-width: 770px) {
  /* line 1157, C:/OpenServer/domains/terem.loc/css/style.scss */
  .paper__wrap {
    margin: 0; }
  /* line 1160, C:/OpenServer/domains/terem.loc/css/style.scss */
  .descr {
    padding: 0 100px 75px 0; }
  /* line 1163, C:/OpenServer/domains/terem.loc/css/style.scss */
  .title-block {
    padding: 0 0 8px; }
  /* line 1167, C:/OpenServer/domains/terem.loc/css/style.scss */
  .galery .img-wrap {
    width: 33.33%; }
  /* line 1171, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-blocks::before {
    display: none; }
  /* line 1174, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block {
    width: 50%;
    height: 150px; }
    /* line 1177, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block:nth-child(3) {
      border-left: none; }
    /* line 1180, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block:nth-child(2) {
      border-right: none; }
    /* line 1183, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block i {
      top: 40px;
      left: 30px; }
      /* line 1186, C:/OpenServer/domains/terem.loc/css/style.scss */
      .mini-block i span {
        font-size: 22px; }
    /* line 1190, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block .back {
      top: 48px; }
      /* line 1192, C:/OpenServer/domains/terem.loc/css/style.scss */
      .mini-block .back span {
        font-size: 18px; } }

@media only screen and (max-width: 550px) {
  /* line 1199, C:/OpenServer/domains/terem.loc/css/style.scss */
  .about__wrap {
    padding: 20px 0; }
  /* line 1202, C:/OpenServer/domains/terem.loc/css/style.scss */
  .about__text {
    padding: 0; }
  /* line 1205, C:/OpenServer/domains/terem.loc/css/style.scss */
  .descr {
    font-size: 16px;
    padding: 0 100px 25px 0; }
  /* line 1209, C:/OpenServer/domains/terem.loc/css/style.scss */
  .title-block {
    font-size: 18px; }
  /* line 1212, C:/OpenServer/domains/terem.loc/css/style.scss */
  .advantages__item {
    width: 50%; }
  /* line 1215, C:/OpenServer/domains/terem.loc/css/style.scss */
  .advantages p {
    font-size: 16px;
    padding-top: 5px; }
  /* line 1219, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block {
    height: 120px; } }

@media only screen and (max-width: 400px) {
  /* line 1224, C:/OpenServer/domains/terem.loc/css/style.scss */
  .our {
    margin-top: 0;
    padding-top: 40px; }
  /* line 1228, C:/OpenServer/domains/terem.loc/css/style.scss */
  .advantages__item {
    width: 100%;
    text-align: center; }
  /* line 1233, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block i {
    top: 30px;
    left: 20px; }
    /* line 1236, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block i span {
      font-size: 18px; }
  /* line 1240, C:/OpenServer/domains/terem.loc/css/style.scss */
  .mini-block .back {
    top: 38px; }
    /* line 1242, C:/OpenServer/domains/terem.loc/css/style.scss */
    .mini-block .back span {
      font-size: 16px; } }

/* line 1265, C:/OpenServer/domains/terem.loc/css/style.scss */
.clear {
  clear: both; }

/*==============new===============*/
/* line 1271, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfcontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }
  /* line 1276, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfcontainer .title-block, .dfcontainer .descr {
    padding-left: 30px; }
  /* line 1279, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfcontainer .descr {
    padding-bottom: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400; }

/* line 1286, C:/OpenServer/domains/terem.loc/css/style.scss */
.descr {
  font-family: 'Roboto Slab', serif;
  font-weight: 400; }

/* line 1291, C:/OpenServer/domains/terem.loc/css/style.scss */
.df-newblock {
  text-align: center; }

/* line 1295, C:/OpenServer/domains/terem.loc/css/style.scss */
.df-newbox {
  max-width: 275px;
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 22px 22px 30px 22px;
  border: 1px solid #ebf2f5;
  margin-bottom: 20px;
  background-color: #fff; }

/* line 1306, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfnewimg {
  position: relative; }
  /* line 1308, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfnewimg img {
    width: 100%;
    height: auto;
    display: inline-block; }

/* line 1314, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfsquere {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  bottom: -25px;
  right: 11px;
  display: inline-block;
  padding: 9px 20px 20px 20px;
  background-image: url("../img/pricedf.png");
  background-position: center;
  background-repeat: no-repeat; }

/* line 1329, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfnewtxtbox {
  padding-top: 30px;
  padding-left: 6px; }

/* line 1333, C:/OpenServer/domains/terem.loc/css/style.scss */
.df-proect {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 1px dashed #abbac2;
  transition: 0.3s; }

/* line 1344, C:/OpenServer/domains/terem.loc/css/style.scss */
.df-proect:hover {
  border-bottom: 1px dashed transparent;
  color: #621212; }

/* line 1349, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfprice {
  color: black;
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  display: block;
  margin-bottom: 12px; }
  /* line 1357, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfprice span {
    font-family: "rouble" !important; }

/* line 1363, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfcharacteristicts span:first-child {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: #99a8b0;
  display: inline-block;
  min-width: 115px; }

/* line 1373, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfcharacteristicts span:last-child {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  display: inline-block;
  line-height: 22px;
  font-size: 12px; }

/* line 1383, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfbutton-1 {
  margin-top: 20px; }

/* line 1386, C:/OpenServer/domains/terem.loc/css/style.scss */
.button_1:hover, .button_2:hover, .button_3:hover, .button_4:hover {
  transition: 0.3s; }

/* line 1390, C:/OpenServer/domains/terem.loc/css/style.scss */
.df-left, .df-right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ebf2f5;
  background-image: url("../img/left.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -105px;
  right: 43px;
  transition: 0.3s; }

/* line 1403, C:/OpenServer/domains/terem.loc/css/style.scss */
.df-right {
  background-image: url("../img/right.png");
  right: 0; }

/* line 1408, C:/OpenServer/domains/terem.loc/css/style.scss */
.df-left:hover, .df-right:hover {
  border: 1px solid #87b74a; }

/*=====================filter ===============*/
/* line 1413, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfcenter {
  text-align: center;
  padding: 0 20px; }

/* line 1417, C:/OpenServer/domains/terem.loc/css/style.scss */
.dffilterbox {
  max-width: 287px;
  width: 100%;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px; }

/* line 1424, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfcap {
  font-size: 13px;
  color: #909ba2;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  display: block;
  margin-bottom: 12px;
  text-align: center; }
  /* line 1433, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfcap span {
    font-family: "rouble" !important; }

/* line 1437, C:/OpenServer/domains/terem.loc/css/style.scss */
select:focus, select:active {
  outline: none; }

/* line 1440, C:/OpenServer/domains/terem.loc/css/style.scss */
.az-select {
  position: relative;
  cursor: pointer;
  text-align: left;
  max-width: 140px;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px; }
  /* line 1451, C:/OpenServer/domains/terem.loc/css/style.scss */
  .az-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 9px 0 9px 17px;
    max-width: 140px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #ebf2f5;
    box-shadow: inset 2.5px 4.3px 5px rgba(225, 234, 240, 0.35); }
  /* line 1462, C:/OpenServer/domains/terem.loc/css/style.scss */
  .az-select select::-ms-expand {
    display: none; }
  /* line 1465, C:/OpenServer/domains/terem.loc/css/style.scss */
  .az-select .az-options {
    display: none;
    top: calc(100% + 0px);
    left: -2px;
    width: calc(100% + 4px);
    position: absolute;
    background-color: #fff;
    border: 1px solid #ebf2f5;
    border-radius: 5px;
    z-index: 7;
    color: rgba(20, 20, 20, 0.7); }
  /* line 1478, C:/OpenServer/domains/terem.loc/css/style.scss */
  .az-select div[data-val] {
    padding-left: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
    cursor: pointer; }
  /* line 1484, C:/OpenServer/domains/terem.loc/css/style.scss */
  .az-select div[data-val]:hover {
    background-color: rgba(144, 155, 162, 0.4); }

/* line 1488, C:/OpenServer/domains/terem.loc/css/style.scss */
.az-select:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 12px;
  width: 13px;
  height: 8px;
  background-image: url("../img/menuarrow.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }

/* line 1501, C:/OpenServer/domains/terem.loc/css/style.scss */
.dfrightradius {
  margin-left: -5px; }
  /* line 1503, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfrightradius select {
    border-radius: 30px; }

/* line 1507, C:/OpenServer/domains/terem.loc/css/style.scss */
.dffilterboxone {
  width: 180px;
  max-width: 100%;
  margin-right: 21px; }
  /* line 1511, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dffilterboxone .az-select {
    max-width: 180px; }
  /* line 1514, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dffilterboxone select {
    border-radius: 30px;
    width: 180px;
    max-width: 100%; }

@media only screen and (min-width: 480px) {
  /* line 1529, C:/OpenServer/domains/terem.loc/css/style.scss */
  .az-select {
    margin-bottom: 0px; }
    /* line 1531, C:/OpenServer/domains/terem.loc/css/style.scss */
    .az-select select {
      border-radius: 30px 0 0 30px; }
  /* line 1536, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfrightradius select {
    border-radius: 0 30px 30px 0; }
  /* line 1540, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dffilterboxone {
    margin-right: 21px; }
    /* line 1543, C:/OpenServer/domains/terem.loc/css/style.scss */
    .dffilterboxone .az-select select {
      border-radius: 30px;
      width: 180px;
      max-width: 100%; } }

@media only screen and (min-width: 992px) {
  /* line 1556, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfcontainer {
    padding: 0px; }
    /* line 1558, C:/OpenServer/domains/terem.loc/css/style.scss */
    .dfcontainer .title-block, .dfcontainer .descr {
      padding-left: 140px !important; }
    /* line 1561, C:/OpenServer/domains/terem.loc/css/style.scss */
    .dfcontainer .title-block {
      padding-top: 40px; }
    /* line 1564, C:/OpenServer/domains/terem.loc/css/style.scss */
    .dfcontainer .descr {
      padding-bottom: 62px; }
  /* line 1568, C:/OpenServer/domains/terem.loc/css/style.scss */
  .df-newbox {
    margin-right: 24px;
    margin-bottom: 0; }
  /* line 1572, C:/OpenServer/domains/terem.loc/css/style.scss */
  .df-newblock .df-newbox:last-child {
    margin-right: 0; }
  /*=============filter*/
  /* line 1578, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dffilterbox {
    margin-bottom: 0px; }
  /* line 1581, C:/OpenServer/domains/terem.loc/css/style.scss */
  .az-select {
    margin-bottom: 0px; }
  /* line 1584, C:/OpenServer/domains/terem.loc/css/style.scss */
  .dfcap {
    margin-left: 21px;
    text-align: left; } }

/* line 1594, C:/OpenServer/domains/terem.loc/css/style.scss */
section.contact {
  padding-top: 30px; }

/* line 1597, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-title {
  margin-bottom: 25px; }

/* line 1600, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-item__block {
  text-align: center;
  margin-bottom: 20px; }

/* line 1604, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-block {
  border: 1px solid #ebf2f5;
  padding: 35px 30px 35px 30px;
  text-align: left;
  position: relative; }

/* line 1610, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-absolute {
  width: 20px;
  position: absolute;
  right: 10px; }

/* line 1615, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact__map-icon {
  background: url(/img/adress1.png) 0 0 no-repeat;
  width: 34px;
  height: 40px;
  top: -24px; }

/* line 1621, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact__phone-icon {
  background: url(/img/adress2.png) 0 0 no-repeat;
  width: 39px;
  height: 40px;
  top: -24px; }

/* line 1627, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact__metro-icon {
  background: url(/img/adress3.png) 0 0 no-repeat;
  width: 34px;
  height: 40px;
  top: -24px; }

/* line 1634, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-title {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 18px;
  font-weight: 700; }

/* line 1642, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-address {
  font-weight: 400;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 8px; }

/* line 1652, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-address__span {
  color: #686868;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  display: block; }

/* line 1661, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-tel__span {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px; }

/* line 1673, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-telephone {
  color: black;
  font-family: RobotoSlab-Bold;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 10px; }
  /* line 1681, C:/OpenServer/domains/terem.loc/css/style.scss */
  .contact-telephone:nth-child(3) {
    margin-bottom: 30px; }

/* line 1685, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-email {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400; }

/* line 1693, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-metroaddr {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px; }
  /* line 1702, C:/OpenServer/domains/terem.loc/css/style.scss */
  .contact-metroaddr:last-child {
    margin-bottom: 0; }

/* line 1706, C:/OpenServer/domains/terem.loc/css/style.scss */
.contact-metro__span {
  color: #686868;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px; }

/* Application */
/* line 1717, C:/OpenServer/domains/terem.loc/css/style.scss */
section.application {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/img/zaiavka.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; }

/* line 1725, C:/OpenServer/domains/terem.loc/css/style.scss */
h2.application-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 52px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  margin-bottom: 45px; }

/* line 1736, C:/OpenServer/domains/terem.loc/css/style.scss */
span.application-title__span {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 25px;
  font-weight: 400; }

/* line 1743, C:/OpenServer/domains/terem.loc/css/style.scss */
a.apllication-btn {
  display: block;
  width: 275px;
  margin: auto; }

/* line 1748, C:/OpenServer/domains/terem.loc/css/style.scss */
.apllication-textblock {
  text-align: center;
  margin-top: 60px; }

/* line 1752, C:/OpenServer/domains/terem.loc/css/style.scss */
.application-toptext {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  max-width: 760px;
  margin: auto; }

/* line 1764, C:/OpenServer/domains/terem.loc/css/style.scss */
.application-text__span {
  font-size: 14px;
  line-height: 20px; }

/* line 1769, C:/OpenServer/domains/terem.loc/css/style.scss */
section.header-top {
  padding-top: 13px;
  padding-bottom: 13px;
  min-height: 50px;
  background: url(/img/headertop.jpg) #560001 0 0 repeat-y; }

/* line 1775, C:/OpenServer/domains/terem.loc/css/style.scss */
.headertop-spb__phone {
  color: #cebcbc;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-top: -5px;
  margin-right: 5px; }
  /* line 1785, C:/OpenServer/domains/terem.loc/css/style.scss */
  .headertop-spb__phone:nth-child(2) {
    margin-left: 42px; }

/* line 1789, C:/OpenServer/domains/terem.loc/css/style.scss */
.last-phone {
  margin-right: 0; }

/* line 1792, C:/OpenServer/domains/terem.loc/css/style.scss */
.headertop-spb__phonespan {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle; }

/* line 1803, C:/OpenServer/domains/terem.loc/css/style.scss */
.headertop-spb {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }
  /* line 1807, C:/OpenServer/domains/terem.loc/css/style.scss */
  .headertop-spb:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 20px;
    background: url(/img/spb.png) 0 0 no-repeat; }

/* line 1816, C:/OpenServer/domains/terem.loc/css/style.scss */
.headertop-mobile {
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px; }
  /* line 1820, C:/OpenServer/domains/terem.loc/css/style.scss */
  .headertop-mobile:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 20px;
    background: url(/img/mob.png) 0 0 no-repeat; }

/* line 1829, C:/OpenServer/domains/terem.loc/css/style.scss */
.header-topemail {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px; }
  /* line 1833, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-topemail:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 48px;
    height: 20px;
    background: url(/img/email.png) 0 0 no-repeat;
    margin-right: 5px; }

/* line 1843, C:/OpenServer/domains/terem.loc/css/style.scss */
.header-top__logo {
  position: absolute;
  left: 50%;
  margin-left: -83px;
  top: -13px; }

/* line 1849, C:/OpenServer/domains/terem.loc/css/style.scss */
.header-top__left {
  width: 100%; }

/* line 1852, C:/OpenServer/domains/terem.loc/css/style.scss */
.header-topemail__link {
  color: #cebcbc;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 1px;
  border-bottom: 1px dashed #cebcbc; }
  /* line 1861, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-topemail__link:hover {
    border-bottom: 0; }

/* line 1865, C:/OpenServer/domains/terem.loc/css/style.scss */
.header-top-btn {
  margin-right: 0;
  line-height: 28px;
  padding-left: 30px;
  margin-top: 20px; }

/* line 1871, C:/OpenServer/domains/terem.loc/css/style.scss */
.header-logo-wrap {
  width: 100px;
  height: 82px; }
  /* line 1874, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-logo-wrap img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin-left: -50px; }

/* line 1881, C:/OpenServer/domains/terem.loc/css/style.scss */
.header-top__center {
  text-align: center; }

@media only screen and (min-width: 360px) {
  /* line 1885, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-top-btn {
    margin-left: 30px; }
  /* line 1889, C:/OpenServer/domains/terem.loc/css/style.scss */
  .headertop-spb__phone:nth-child(2) {
    margin-left: 0; } }

@media only screen and (min-width: 992px) {
  /* line 1902, C:/OpenServer/domains/terem.loc/css/style.scss */
  section.contact {
    padding-top: 70px; }
  /* line 1906, C:/OpenServer/domains/terem.loc/css/style.scss */
  section.application {
    padding-top: 80px;
    padding-bottom: 80px; }
  /* line 1910, C:/OpenServer/domains/terem.loc/css/style.scss */
  .contact-item__block {
    margin-bottom: 0px; }
  /* line 1913, C:/OpenServer/domains/terem.loc/css/style.scss */
  .contact-block {
    height: 282px; }
  /* line 1916, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-top__left {
    width: 44%;
    padding-top: 5px; }
  /* line 1920, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-logo-wrap {
    width: 0;
    height: 0; }
    /* line 1923, C:/OpenServer/domains/terem.loc/css/style.scss */
    .header-logo-wrap img {
      margin-left: -83px; }
  /* line 1929, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-logo-wrap img {
    max-width: unset;
    max-height: unset; } }

@media only screen and (min-width: 1200px) {
  /* line 1937, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-top-btn {
    margin-top: 0; } }

@media only screen and (min-width: 1248px) {
  /* line 1943, C:/OpenServer/domains/terem.loc/css/style.scss */
  .contact-item__block1 {
    width: 26%; }
  /* line 1946, C:/OpenServer/domains/terem.loc/css/style.scss */
  .contact-item__block3 {
    width: 49%; }
  /* line 1949, C:/OpenServer/domains/terem.loc/css/style.scss */
  .contact-block {
    max-height: 190px; }
  /* line 1952, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-top__left {
    width: 44%; }
  /* line 1955, C:/OpenServer/domains/terem.loc/css/style.scss */
  .header-topemail__btn {
    margin-top: 0; } }

/* line 1960, C:/OpenServer/domains/terem.loc/css/style.scss */
.clear {
  clear: both; }

/* line 1963, C:/OpenServer/domains/terem.loc/css/style.scss */
.center {
  text-align: center; }

/* line 1966, C:/OpenServer/domains/terem.loc/css/style.scss */
.section_padding {
  padding: 20px 0; }

/* line 1970, C:/OpenServer/domains/terem.loc/css/style.scss */
h1 {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 29px;
  font-weight: 700; }

/* line 1978, C:/OpenServer/domains/terem.loc/css/style.scss */
h2 {
  display: block;
  color: black;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 24px; }

/* line 1986, C:/OpenServer/domains/terem.loc/css/style.scss */
span.h2 {
  display: block;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */